Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

fix typo
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineViewingLayer.tsx
Due: jaeger-ui

Update packages/plexus/src/Digraph/SvgLayersGroup.tsx
  packages/plexus/src/Digraph/SvgLayersGroup.tsx
Due: plexus

Update packages/jaeger-ui/vite.config.mts
  packages/jaeger-ui/vite.config.mts
Due: none

Update package.json
  package.json
Due: none

Update verify_otel.cjs
  verify_otel.cjs
Due: none

monitor tab fixed
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.tsx
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui

refactor(ui): update VirtualizedTraceView tests for functional component
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: jaeger-ui

refactor(ui): migrate TopNav to useLocation and update tests
  packages/jaeger-ui/src/components/App/TopNav.test.js
  packages/jaeger-ui/src/components/App/TopNav.tsx
Due: jaeger-ui

fix(plexus): address review comments on SvgLayersGroup tests
  packages/plexus/src/Digraph/SvgLayersGroup.test.js
Due: plexus

fix(plexus): translate Chinese comment to English in SvgEdgesLayer tests
  packages/plexus/src/Digraph/SvgEdgesLayer.test.js
Due: plexus

fix(plexus): clarify jest.mock hoisting comment in test files
  packages/plexus/src/Digraph/SvgEdgesLayer.test.js
  packages/plexus/src/Digraph/SvgLayersGroup.test.js
Due: plexus

Fix: address code review feedback for Monitor EmptyState and Vite config
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.test.js
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.tsx
  packages/jaeger-ui/vite.config.mts
  yarn.lock
Due: jaeger-ui

Fix: centralize config keys and restrict Vite plugin to serve mode
  packages/jaeger-ui/src/constants/config-keys.ts
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui

Update packages/jaeger-ui/src/constants/config-keys.ts
  packages/jaeger-ui/src/constants/config-keys.ts
Due: jaeger-ui

Revert unintended package-lock.json changes
  package-lock.json
Due: none

Migrate TraceSpanView to functional component
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

updated conditional check in uniqueOperationNameOptions()
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

Address Copilot feedback: use useMemo for derived state
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

Added reset filters when trace changes in useEffect dependency array
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

Address Copilot feedback: add useEffect dependency
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

removed console.log added for testing
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

Address review: minimize diff, keep original variable names
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

fixes: minor spells
  packages/jaeger-ui/index.html
  packages/jaeger-ui/src/utils/config/get-config.test.js
Due: jaeger-ui

fix(plexus): fix self-loop edge label positioning
  packages/plexus/src/Digraph/SvgEdge.tsx
Due: plexus

Update packages/plexus/src/Digraph/SvgEdge.tsx
  packages/plexus/src/Digraph/SvgEdge.tsx
Due: plexus

refactor(plexus): migrate SvgEdge to functional component (#3396) (#3527)
  packages/plexus/src/Digraph/SvgEdge.tsx
Due: plexus

Remove history from TraceIDSearchInput.test.js (#3514)
  packages/jaeger-ui/src/components/App/TraceIDSearchInput.test.js
Due: jaeger-ui

Test(ui): Remove unused mocked history from TopNav tests (#3483)
  packages/jaeger-ui/src/components/App/TopNav.test.js
Due: jaeger-ui

Apply suggestion from @yurishkuro
  packages/plexus/src/Digraph/SvgLayersGroup.test.js
Due: plexus

refactor(plexus): convert SvgLayersGroup from class to functional component (#3412)
  packages/plexus/src/Digraph/SvgEdgesLayer.test.js
  packages/plexus/src/Digraph/SvgLayersGroup.test.js
  packages/plexus/src/Digraph/SvgLayersGroup.tsx
Due: plexus

fix for base_path in api/v3
  packages/jaeger-ui/src/api/v3/client.ts
Due: jaeger-ui

add dependency array to useEffect in TimelineViewingLayer
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineViewingLayer.tsx
Due: jaeger-ui

Test fix for PR and changes in JaegerClient fix for base_path in api/v3
  package-lock.json
  packages/jaeger-ui/src/api/v3/client.test.ts
Due: jaeger-ui

Fix v3 API client ignoring base path prefix (#3549)
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/api/v3/client.ts
Due: jaeger-ui

fix(plexus): address Parship12 review comments on SvgLayer PR
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/index.tsx
  packages/plexus/src/Digraph/SvgLayer.test.js
Due: jaeger-ui, plexus
