Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

fix(plexus): align Nodes.test.js copyright with plexus convention
  packages/plexus/src/Digraph/Nodes.test.js
Due: plexus

Fix: white hover line overflow on critical path segments
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBar.css
Due: jaeger-ui

refactor(plexus): address Parship12 review on SvgLayer
  packages/plexus/src/Digraph/SvgLayer.test.js
  packages/plexus/src/Digraph/SvgLayer.tsx
Due: plexus

reverting monitor config
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.css
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.test.js
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.tsx
  packages/jaeger-ui/src/components/Monitor/EmptyState/media/monitor.png
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/index.test.js
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/src/reducers/metrics.mock.ts
  packages/jaeger-ui/src/reducers/metrics.test.js
  packages/jaeger-ui/src/reducers/metrics.ts
  packages/jaeger-ui/src/types/config.ts
  packages/jaeger-ui/src/types/metrics.ts
Due: jaeger-ui

fully changes applied
  packages/jaeger-ui/README.md
  packages/jaeger-ui/src/components/App/TopNav.test.js
  packages/jaeger-ui/src/components/App/TopNav.tsx
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.css
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.test.js
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.tsx
  packages/jaeger-ui/src/components/Monitor/EmptyState/media/monitor.png
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/index.test.js
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/src/reducers/metrics.mock.ts
  packages/jaeger-ui/src/reducers/metrics.test.js
  packages/jaeger-ui/src/reducers/metrics.ts
  packages/jaeger-ui/src/types/config.ts
  packages/jaeger-ui/src/types/metrics.ts
Due: jaeger-ui

refactor(ui): convert VirtualizedTraceView from class to functional component
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: jaeger-ui

refactor(ui): address review comments on VirtualizedTraceView migration
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: jaeger-ui

Fix PR quota workflow
  .github/workflows/pr-quota-manager.yml
Due: none

refactor(TracePage): remove propsRef, fix _filterSpans cache key
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

test(TracePage): fix cache-miss test to mutate data.traceID not FetchedTrace wrapper
  packages/jaeger-ui/src/components/TracePage/index.test.js
Due: jaeger-ui

fix(TracePage): consolidate per-callback refs into shortcutHandlersRef
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix(plexus): address Parship12 review on NodesLayer
  packages/plexus/src/Digraph/NodesLayer.test.js
  packages/plexus/src/Digraph/NodesLayer.tsx
Due: plexus

fix(plexus): address review feedback on SvgDefEntry
  packages/plexus/src/Digraph/SvgDefEntry.test.js
  packages/plexus/src/Digraph/SvgDefEntry.tsx
Due: plexus

refactor(plexus): convert NodesLayer from class to functional component (#3413)
  packages/plexus/src/Digraph/NodesLayer.test.js
  packages/plexus/src/Digraph/NodesLayer.tsx
Due: plexus

fix(plexus): use Jaeger Authors copyright for new test files
  packages/plexus/src/Digraph/Nodes.test.js
  packages/plexus/src/Digraph/NodesLayer.test.js
Due: plexus

fix(plexus): use Jaeger Authors copyright for SvgDefEntry test
  packages/plexus/src/Digraph/SvgDefEntry.test.js
Due: plexus

fix: bug - On initial load of Monitor page the charts are half-width
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
Due: jaeger-ui

removed as it alredy covered test
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
Due: jaeger-ui

using useLayoutEffect instead of the useEffect to prevent flicker and Measuring DOM size
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
Due: jaeger-ui

refactor: simplify ATM configuration (#3540)
  packages/jaeger-ui/index.html
  packages/jaeger-ui/src/components/App/TopNav.test.js
  packages/jaeger-ui/src/components/App/TopNav.tsx
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.css
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.test.js
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.tsx
  packages/jaeger-ui/src/components/Monitor/EmptyState/media/monitor.png
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/index.test.js
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/src/reducers/metrics.mock.ts
  packages/jaeger-ui/src/reducers/metrics.test.js
  packages/jaeger-ui/src/reducers/metrics.ts
  packages/jaeger-ui/src/types/config.ts
  packages/jaeger-ui/src/types/metrics.ts
Due: jaeger-ui

ADR: Span Details in Side Panel
  docs/adr/0001-design-token-based-theming.md
  docs/adr/0002-otlp-api-v3-migration.md
  docs/adr/0006-side-panel-span-details.md
  docs/adr/README.md
Due: none

Add commit-msg hook to always attach sign-off
  .husky/commit-msg
Due: none

mention husky
  CONTRIBUTING.md
Due: none

Apply suggestions from code review
  .husky/commit-msg
Due: none

Apply suggestion from @yurishkuro
  .husky/commit-msg
Due: none

Apply suggestion from @Copilot
  .husky/commit-msg
Due: none

ADR 006: Span Details in Side Panel (#3556)
  docs/adr/0001-design-token-based-theming.md
  docs/adr/0002-otlp-api-v3-migration.md
  docs/adr/0006-side-panel-span-details.md
  docs/adr/README.md
Due: none

ADR: Span Details in Side Panel
  docs/adr/0006-side-panel-span-details.md
Due: none

[adr-6] Phase 1
  docs/adr/0006-side-panel-span-details.md
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.css
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/src/types/TTraceTimeline.ts
  packages/jaeger-ui/src/types/config.ts
Due: jaeger-ui

fix
  docs/adr/0006-side-panel-span-details.md
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/types/TTraceTimeline.ts
Due: jaeger-ui

fix
  docs/adr/0006-side-panel-span-details.md
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/types/config.ts
Due: jaeger-ui

Rename main package to @jaegertracing/jaeger-ui
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

Rename main package to @jaegertracing/jaeger-ui (#3560)
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

fix(deps): update dependency react-router-dom to v7
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

fix
  docs/adr/0006-side-panel-span-details.md
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.tsx
Due: jaeger-ui

fix
  docs/adr/0006-side-panel-span-details.md
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/types/config.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/index.test.js
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/KeyboardShortcutsHelp.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix(plexus): use Jaeger Authors copyright for all 2026 test files
  packages/plexus/src/Digraph/HtmlLayer.test.js
  packages/plexus/src/Digraph/HtmlLayersGroup.test.js
  packages/plexus/src/Digraph/Nodes.tsx
  packages/plexus/src/Digraph/SvgEdgesLayer.test.js
  packages/plexus/src/Digraph/SvgLayer.test.js
Due: plexus
