Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

fix(lint): Drop useless array spread, promote no-useless-spread to error
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.tsx
  vite.config.ts
Due: jaeger-ui

Move DDG view modifiers from Redux to Zustand
  docs/adr/0004-state-management-strategy.md
  packages/jaeger-ui/src/actions/ddg.ts
  packages/jaeger-ui/src/components/DeepDependencies/index.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/store.ts
  packages/jaeger-ui/src/components/DeepDependencies/store.view-modifiers.test.ts
  packages/jaeger-ui/src/components/DeepDependencies/store.view-modifiers.ts
  packages/jaeger-ui/src/components/DeepDependencies/traces.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/traces.tsx
  packages/jaeger-ui/src/components/DeepDependencies/view-modifiers-logic.test.ts
  packages/jaeger-ui/src/components/DeepDependencies/view-modifiers-logic.ts
  packages/jaeger-ui/src/reducers/ddg.test.js
  packages/jaeger-ui/src/reducers/ddg.ts
  packages/jaeger-ui/src/types/TDdgState.ts
Due: jaeger-ui

lint fix
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

lint fix
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/store.ts
  packages/jaeger-ui/src/components/DeepDependencies/store.view-modifiers.ts
Due: jaeger-ui

add tests to increase coverage
  packages/jaeger-ui/src/components/DeepDependencies/index.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/store.view-modifiers.test.ts
Due: jaeger-ui

rm unused imports
  packages/jaeger-ui/src/reducers/ddg.ts
Due: jaeger-ui

fix(lint): Fix Jest titles to be valid strings, promote valid-title to error
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateDropdownValue.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.track.test.js
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.track.test.js
  packages/jaeger-ui/src/components/TracePage/url/ReferenceLink.test.jsx
  packages/jaeger-ui/src/components/common/FilteredList/highlightMatches.test.jsx
  packages/jaeger-ui/src/reducers/metrics.test.js
  packages/jaeger-ui/src/utils/date.test.js
  vite.config.ts
Due: jaeger-ui

fix(lint): Fix Jest titles to be valid strings, promote valid-title to error (#3751)
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateDropdownValue.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.track.test.js
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.track.test.js
  packages/jaeger-ui/src/components/TracePage/url/ReferenceLink.test.jsx
  packages/jaeger-ui/src/components/common/FilteredList/highlightMatches.test.jsx
  packages/jaeger-ui/src/reducers/metrics.test.js
  packages/jaeger-ui/src/utils/date.test.js
  vite.config.ts
Due: jaeger-ui

fix(lint): Drop useless array spread, promote no-useless-spread to error (#3749)
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.tsx
  vite.config.ts
Due: jaeger-ui

fix(lint): Fix Jest expects to have matcher calls, promote valid-expect to error
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.test.jsx
  vite.config.ts
Due: jaeger-ui

fix(lint): Fix Jest expects to have matcher calls, promote valid-expect to error (#3752)
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.test.jsx
  vite.config.ts
Due: jaeger-ui

fix(lint): Clear unused vars/imports, promote no-unused-vars to error in TS
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/components/App/ThemeProvider.test.tsx
  packages/jaeger-ui/src/components/App/ThemeStorage.ts
  packages/jaeger-ui/src/components/App/TopNav.tsx
  packages/jaeger-ui/src/components/PlexusDemo/url.ts
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/OpNode.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageSearchBar.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateDropdownValue.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/types.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AttributesTable.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/timeline-utils.ts
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/common/UiFindInput.tsx
  packages/jaeger-ui/src/hooks/useConfig.test.tsx
  packages/jaeger-ui/src/reducers/metrics.ts
  packages/jaeger-ui/src/types/archive.ts
  packages/jaeger-ui/src/types/metrics.ts
  packages/jaeger-ui/src/utils/documentTitle.ts
  packages/jaeger-ui/src/utils/readJsonFile.ts
  packages/jaeger-ui/src/utils/tracking/index.ts
  packages/plexus/src/types/TOneOf.ts
  vite.config.ts
Due: jaeger-ui, plexus

fix(lint): Unexport now-internal store types to satisfy knip
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.layout.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.timeline.ts
Due: jaeger-ui

fix(lint): Clear unused vars/imports, promote no-unused-vars to error in TS (#3753)
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/components/App/ThemeProvider.test.tsx
  packages/jaeger-ui/src/components/App/ThemeStorage.ts
  packages/jaeger-ui/src/components/App/TopNav.tsx
  packages/jaeger-ui/src/components/PlexusDemo/url.ts
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/OpNode.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageSearchBar.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateDropdownValue.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/types.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AttributesTable.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.layout.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.timeline.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/timeline-utils.ts
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/common/UiFindInput.tsx
  packages/jaeger-ui/src/hooks/useConfig.test.tsx
  packages/jaeger-ui/src/reducers/metrics.ts
  packages/jaeger-ui/src/types/archive.ts
  packages/jaeger-ui/src/types/metrics.ts
  packages/jaeger-ui/src/utils/documentTitle.ts
  packages/jaeger-ui/src/utils/readJsonFile.ts
  packages/jaeger-ui/src/utils/tracking/index.ts
  packages/plexus/src/types/TOneOf.ts
  vite.config.ts
Due: jaeger-ui, plexus

fix(lint): Replace new Array(n) with Array.from, promote no-new-array to error
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/calc-positioning.test.js
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.test.jsx
  packages/jaeger-ui/src/components/DependencyGraph/DAG.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/url.test.js
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffGraph/renderNode.test.jsx
  packages/jaeger-ui/src/components/common/ExamplesLink.test.jsx
  packages/jaeger-ui/src/model/ddg/visibility-codec.test.jsx
  vite.config.ts
Due: jaeger-ui

Apply suggestion from @Copilot
  packages/jaeger-ui/src/components/common/ExamplesLink.test.jsx
Due: jaeger-ui

fix(lint): Replace new Array(n) with Array.from, promote no-new-array to error (#3754)
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/calc-positioning.test.js
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.test.jsx
  packages/jaeger-ui/src/components/DependencyGraph/DAG.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/url.test.js
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffGraph/renderNode.test.jsx
  packages/jaeger-ui/src/components/common/ExamplesLink.test.jsx
  packages/jaeger-ui/src/model/ddg/visibility-codec.test.jsx
  vite.config.ts
Due: jaeger-ui

add copilot suggestions
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/store.view-modifiers.ts
  packages/jaeger-ui/src/components/DeepDependencies/view-modifiers-logic.ts
  packages/jaeger-ui/src/model/ddg/GraphModel/getDerivedViewModifiers.ts
Due: jaeger-ui

Update files that import ./store.view-modifiers to use ./store
  packages/jaeger-ui/src/components/DeepDependencies/index.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/store.view-modifiers.test.ts
Due: jaeger-ui

chore(deps): update node.js to v24.15.0
  .github/workflows/Dockerfile
Due: none

fix(lint): Resolve require-to-throw-message warnings
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.test.jsx
  packages/jaeger-ui/src/components/TracePage/ScrollManager.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.jsx
  packages/jaeger-ui/src/model/ddg/GraphModel/getPathElemHasher.test.js
  packages/jaeger-ui/src/model/ddg/GraphModel/index.test.js
  packages/jaeger-ui/src/model/ddg/PathElem.test.js
  packages/jaeger-ui/src/model/ddg/visibility-codec.test.jsx
  packages/jaeger-ui/src/model/link-patterns.test.js
  packages/jaeger-ui/src/utils/DraggableManager/DraggableManager.test.js
Due: jaeger-ui

replace toThrow with instaceOf ZodError
  packages/jaeger-ui/src/api/v3/client.test.ts
Due: jaeger-ui

add comments
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/model/ddg/getStateEntryKey.ts
Due: jaeger-ui

fix
  package-lock.json
  packages/jaeger-ui/src/components/App/JaegerAssistantContext.tsx
Due: jaeger-ui

Part of Phase 1 (1d): Move DDG view modifiers from Redux to Zustand (#3750)
  docs/adr/0004-state-management-strategy.md
  packages/jaeger-ui/src/actions/ddg.ts
  packages/jaeger-ui/src/components/DeepDependencies/index.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/store.ts
  packages/jaeger-ui/src/components/DeepDependencies/store.view-modifiers.test.ts
  packages/jaeger-ui/src/components/DeepDependencies/store.view-modifiers.ts
  packages/jaeger-ui/src/components/DeepDependencies/traces.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/traces.tsx
  packages/jaeger-ui/src/components/DeepDependencies/view-modifiers-logic.test.ts
  packages/jaeger-ui/src/components/DeepDependencies/view-modifiers-logic.ts
  packages/jaeger-ui/src/model/ddg/GraphModel/getDerivedViewModifiers.ts
  packages/jaeger-ui/src/model/ddg/getStateEntryKey.ts
  packages/jaeger-ui/src/reducers/ddg.test.js
  packages/jaeger-ui/src/reducers/ddg.ts
  packages/jaeger-ui/src/types/TDdgState.ts
Due: jaeger-ui

chore(deps): update node.js to v24.15.0 (#3758)
  .github/workflows/Dockerfile
Due: none

replace throw based assertion with dom check
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.test.jsx
Due: jaeger-ui

fix(lint): Reorder definitions to satisfy no-use-before-define, promote to error in TS
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/components/common/UiFindInput.tsx
  packages/jaeger-ui/src/model/ddg/transformTracesToPaths.ts
  packages/jaeger-ui/test/vitest-setup.ts
  vite.config.ts
Due: jaeger-ui

fix(lint): Clarify comment on TS lint override now that no-use-before-define is error
  vite.config.ts
Due: none

migrate embed flags off Redux
  packages/jaeger-ui/src/components/App/Page.test.jsx
  packages/jaeger-ui/src/components/App/Page.tsx
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/reducers/embedded.test.ts
  packages/jaeger-ui/src/reducers/embedded.ts
  packages/jaeger-ui/src/reducers/index.ts
  packages/jaeger-ui/src/stores/embedded-store.test.ts
  packages/jaeger-ui/src/stores/embedded-store.ts
  packages/jaeger-ui/src/types/index.ts
Due: jaeger-ui

Add example of storage capabilities in UI dev mode config
  packages/jaeger-ui/jaeger-ui.config.example.json
Due: none

Add example of storage capabilities in UI dev mode config (#3763)
  packages/jaeger-ui/jaeger-ui.config.example.json
Due: none

fix(TracePage): Hide minimap when timeline is hidden
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

docs(adr): Add ADR-0009 for service filter in trace timeline
  docs/adr/0009-service-filter-trace-timeline.md
  docs/adr/README.md
Due: none

feat(trace): Add service filter for trace timeline view
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ServiceFilter/ServiceFilter.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ServiceFilter/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ServiceFilter/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.timeline.ts
  packages/jaeger-ui/src/components/TracePage/url/svcFilter.test.ts
  packages/jaeger-ui/src/components/TracePage/url/svcFilter.ts
Due: jaeger-ui

fix(trace): Bubble errors from pruned subtrees into placeholder row
  docs/adr/0009-service-filter-trace-timeline.md
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: jaeger-ui

fix(trace): Use hollow error icon for pruned subtree errors
  docs/adr/0009-service-filter-trace-timeline.md
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.tsx
Due: jaeger-ui

fix(trace): Align pruned row error icon with regular span rows
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.tsx
Due: jaeger-ui

fix(trace): Reuse SpanTreeOffset for pruned row tree hierarchy
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.tsx
Due: jaeger-ui
