Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

fix
  eslint.config.js
  package-lock.json
  package.json
  packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/common/TraceName.tsx
  packages/jaeger-ui/src/utils/DraggableManager/DraggableManager.ts
  packages/jaeger-ui/src/utils/readJsonFile.ts
  tsconfig.json
Due: jaeger-ui

fix
  eslint.config.js
  package-lock.json
  package.json
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/useNormalizeTraceId.ts
  packages/plexus/src/Digraph/index.tsx
Due: jaeger-ui, plexus

chore(deps): update dependency eslint to v10 (#3622)
  eslint.config.js
  package-lock.json
  package.json
  packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/useNormalizeTraceId.ts
  packages/jaeger-ui/src/components/common/TraceName.tsx
  packages/jaeger-ui/src/utils/DraggableManager/DraggableManager.ts
  packages/jaeger-ui/src/utils/readJsonFile.ts
  packages/plexus/src/Digraph/index.tsx
  tsconfig.json
Due: jaeger-ui, plexus

fix
  packages/plexus/demo/src/index.css
  packages/plexus/demo/src/index.test.tsx
  packages/plexus/demo/src/index.tsx
  packages/plexus/src/LayoutManager/Coordinator.ts
Due: plexus

fix
  packages/plexus/package.json
Due: none

fix
  packages/plexus/demo/src/index.css
  packages/plexus/src/LayoutManager/Coordinator.ts
Due: plexus

Add Plexus demo route to main UI (dev only, `/plexus-demo`) (#3656)
  packages/jaeger-ui/src/components/App/index.dev.test.js
  packages/jaeger-ui/src/components/App/index.test.js
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/PlexusDemo/index.test.js
  packages/jaeger-ui/src/components/PlexusDemo/index.ts
  packages/jaeger-ui/src/components/PlexusDemo/url.ts
  packages/jaeger-ui/typings/custom.d.ts
  packages/jaeger-ui/vite.config.mts
  packages/plexus/README.md
  packages/plexus/demo/src/data-small.jsx
  packages/plexus/demo/src/index.css
  packages/plexus/demo/src/index.test.tsx
  packages/plexus/demo/src/index.tsx
  packages/plexus/package.json
  packages/plexus/src/LayoutManager/Coordinator.ts
  packages/plexus/test/babel-transform.js
Due: jaeger-ui, plexus

chore(deps): update dependency rollup to v4.60.0
  package-lock.json
  package.json
Due: none

Apply suggestions from code review
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/calc-positioning.ts
Due: jaeger-ui

Fix security test
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/calc-positioning.test.js
Due: jaeger-ui

fix
  package.json
  packages/jaeger-ui/vite.config.mts
  scripts/check-overrides.sh
Due: none

fix
  package-lock.json
Due: none

chore(deps): remove unused dependency overrides (#3658)
  package-lock.json
  package.json
  packages/jaeger-ui/vite.config.mts
  scripts/check-overrides.sh
Due: none

Remove dependency on store module
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/utils/storage.ts
Due: jaeger-ui

refresh
  package-lock.json
Due: none

🧪 [testing improvement] Add unit tests for getSelectedSpanID (#3652)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/utils/storage.test.ts
  packages/jaeger-ui/src/utils/storage.ts
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/utils/storage.test.ts
  packages/jaeger-ui/src/utils/storage.ts
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/Monitor/index.test.js
Due: jaeger-ui

Remove `store` npm dependency and suppress LightningCSS warning (#3659)
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/utils/storage.test.ts
  packages/jaeger-ui/src/utils/storage.ts
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui

🔒 [security fix] Replace innerHTML with textContent to mitigate XSS risk (#3651)
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/calc-positioning.test.js
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/calc-positioning.ts
Due: jaeger-ui

feat: add Zustand and query foundation for state migration
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
  packages/jaeger-ui/src/query/app-query-client.ts
  packages/jaeger-ui/src/query/query-keys.ts
  packages/jaeger-ui/src/types/index.ts
  packages/jaeger-ui/src/utils/zustand-class-bridge.test.tsx
  packages/jaeger-ui/src/utils/zustand-class-bridge.tsx
Due: jaeger-ui

fix: replace remaining tooltip arrow prop
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ReferencesButton.tsx
Due: jaeger-ui

fix: replace remaining tooltip arrow prop (#3663)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ReferencesButton.tsx
Due: jaeger-ui

add doc
  packages/jaeger-ui/src/utils/zustand-class-bridge.tsx
Due: jaeger-ui

implement copilot suggestions
  packages/jaeger-ui/src/utils/zustand-class-bridge.test.tsx
  packages/jaeger-ui/src/utils/zustand-class-bridge.tsx
Due: jaeger-ui

Update packages/jaeger-ui/src/utils/zustand-class-bridge.tsx
  packages/jaeger-ui/src/utils/zustand-class-bridge.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/utils/zustand-class-bridge.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/query/app-query-client.ts
  packages/jaeger-ui/src/query/app-query-client.tsx
Due: jaeger-ui

lint fix
  packages/jaeger-ui/src/utils/zustand-class-bridge.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
  packages/jaeger-ui/src/query/query-keys.ts
Due: jaeger-ui

feat: add Zustand and query foundation for state migration (#3662)
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/query/app-query-client.tsx
  packages/jaeger-ui/src/types/index.ts
  packages/jaeger-ui/src/utils/zustand-class-bridge.test.tsx
  packages/jaeger-ui/src/utils/zustand-class-bridge.tsx
Due: jaeger-ui

Add some responsive css for mobile views
  packages/jaeger-ui/src/components/App/TopNav.css
  packages/jaeger-ui/src/components/App/TopNav.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
Due: jaeger-ui

Add Jaeger assistant (CopilotKit)
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/App/JaegerAssistantContext.test.js
  packages/jaeger-ui/src/components/App/JaegerAssistantContext.tsx
  packages/jaeger-ui/src/components/App/JaegerAssistantPanel.css
  packages/jaeger-ui/src/components/App/JaegerAssistantPanel.test.js
  packages/jaeger-ui/src/components/App/JaegerAssistantPanel.tsx
  packages/jaeger-ui/src/components/App/JaegerCopilotProvider.test.js
  packages/jaeger-ui/src/components/App/JaegerCopilotProvider.tsx
  packages/jaeger-ui/src/components/App/JaegerCopilotUi.test.js
  packages/jaeger-ui/src/components/App/JaegerCopilotUi.ts
  packages/jaeger-ui/src/components/App/JaegerTopSearch.css
  packages/jaeger-ui/src/components/App/JaegerTopSearch.test.js
  packages/jaeger-ui/src/components/App/JaegerTopSearch.tsx
  packages/jaeger-ui/src/components/App/Page.css
  packages/jaeger-ui/src/components/App/Page.test.js
  packages/jaeger-ui/src/components/App/Page.tsx
  packages/jaeger-ui/src/components/App/TopNav.css
  packages/jaeger-ui/src/components/App/TopNav.test.js
  packages/jaeger-ui/src/components/App/TopNav.tsx
  packages/jaeger-ui/src/components/App/TraceIDSearchInput.css
  packages/jaeger-ui/src/components/App/TraceIDSearchInput.test.js
  packages/jaeger-ui/src/components/App/TraceIDSearchInput.tsx
  packages/jaeger-ui/src/components/App/copilot-runtime.test.js
  packages/jaeger-ui/src/components/App/copilot-runtime.ts
  packages/jaeger-ui/src/components/App/jaegerOmnibox.test.js
  packages/jaeger-ui/src/components/App/jaegerOmnibox.ts
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.css
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/PopupSql.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineViewingLayer.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.css
  packages/jaeger-ui/src/components/TracePage/index.css
  packages/jaeger-ui/src/vite-env.d.ts
  packages/jaeger-ui/test/jest-per-test-setup.js
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui

add copilot suggestions
  packages/jaeger-ui/src/components/App/JaegerAssistantPanel.css
  packages/jaeger-ui/src/components/App/JaegerCopilotProvider.tsx
  packages/jaeger-ui/src/components/App/JaegerTopSearch.test.js
  packages/jaeger-ui/src/components/App/JaegerTopSearch.tsx
  packages/jaeger-ui/src/components/App/Page.css
  packages/jaeger-ui/src/components/App/copilot-runtime.test.js
  packages/jaeger-ui/src/components/App/copilot-runtime.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/PopupSql.css
  packages/jaeger-ui/src/vite-env.d.ts
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/vite-env.d.ts
Due: jaeger-ui

Update packages/jaeger-ui/src/components/App/jaegerOmnibox.ts
  packages/jaeger-ui/src/components/App/jaegerOmnibox.ts
Due: jaeger-ui

Update packages/jaeger-ui/src/components/App/JaegerCopilotUi.ts
  packages/jaeger-ui/src/components/App/JaegerCopilotUi.ts
Due: jaeger-ui

add copilot suggestions
  packages/jaeger-ui/src/components/App/JaegerAssistantPanel.tsx
  packages/jaeger-ui/src/components/App/JaegerTopSearch.test.js
  packages/jaeger-ui/src/components/App/Page.tsx
  packages/jaeger-ui/src/components/App/TraceRouter.test.js
  packages/jaeger-ui/src/components/App/TraceRouter.tsx
  packages/jaeger-ui/src/components/App/index.test.js
  packages/jaeger-ui/src/components/App/jaegerOmnibox.test.js
  packages/jaeger-ui/src/components/App/jaegerOmnibox.ts
  packages/jaeger-ui/src/components/TraceDiff/url.test.js
  packages/jaeger-ui/src/components/TraceDiff/url.ts
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui
