Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

fix: update copyright year to 2026 for new test file
  packages/plexus/src/Digraph/MeasurableNode.test.js
Due: plexus

fix: correct pathPoints type in test to match TLayoutEdge
  packages/plexus/src/Digraph/SvgEdges.test.js
Due: plexus

fix: address Copilot feedback for Nodes component
  packages/plexus/src/Digraph/Nodes.test.js
  packages/plexus/src/Digraph/Nodes.tsx
Due: plexus

convert MeasurableNodesLayer to functional component and add tests
  packages/plexus/src/Digraph/MeasurableNodesLayer.test.js
  packages/plexus/src/Digraph/MeasurableNodesLayer.tsx
Due: plexus

replace JSX with React.createElement in the mocks
  packages/plexus/src/Digraph/MeasurableNodesLayer.test.js
Due: plexus

Migrated Digraph
  packages/plexus/src/Digraph/index.tsx
Due: plexus

Refactor Deependecies component to functional component
  packages/jaeger-ui/src/components/DeepDependencies/index.test.js
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
Due: jaeger-ui

fix: use deep comparison for pathPoints in useMemo
  packages/plexus/src/Digraph/SvgEdge.test.js
  packages/plexus/src/Digraph/SvgEdge.tsx
Due: plexus

fix: address Copilot feedback for getValueScaler mock
  packages/plexus/src/Digraph/SvgDefEntry.test.js
Due: plexus

fix: address reviewer feedback for MeasurableNode
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

refactor: convert SpanGraph to functional component
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/index.tsx
Due: jaeger-ui

refactor: convert DeepDependencies Graph to functional component
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.tsx
Due: jaeger-ui

fix: use React.createElement in jest.mock factories
  packages/plexus/src/Digraph/SvgEdgesLayer.test.js
Due: plexus

fix: use React.createElement in jest.mock factory
  packages/plexus/src/Digraph/SvgLayer.test.js
Due: plexus

fix: use React.createElement in jest.mock factories
  packages/plexus/src/Digraph/SvgLayersGroup.test.js
Due: plexus

fix: use React.createElement in jest.mock factories
  packages/plexus/src/Digraph/NodesLayer.test.js
Due: plexus

fix: use React.createElement in jest.mock factories
  packages/plexus/src/Digraph/MeasurableNodesLayer.test.js
Due: plexus

fix(test): use React.createElement in jest.mock factories
  packages/plexus/src/Digraph/Digraph.test.js
Due: plexus

fix: add comment explaining why refs are not in useImperativeHandle dependencies
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

fix: optimize useMemo to avoid unnecessary computation when trace is null
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/index.tsx
Due: jaeger-ui

fix: make React.memo test more specific
  packages/plexus/src/Digraph/SvgDefEntry.test.js
Due: plexus

fix: address Copilot review feedback for Digraph
  packages/plexus/src/Digraph/index.tsx
Due: plexus

fix: import ReactElement directly to avoid React. prefix
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

fix: improve React.memo test specificity
  packages/plexus/src/Digraph/SvgLayersGroup.test.js
Due: plexus

fix: improve React.memo test specificity
  packages/plexus/src/Digraph/NodesLayer.test.js
Due: plexus

fix: address Copilot feedback for Node test coverage
  packages/plexus/src/Digraph/Node.test.js
Due: plexus

fix: address Copilot feedback for SvgEdgesLayer test
  packages/plexus/src/Digraph/SvgEdgesLayer.test.js
Due: plexus

fix: address Copilot feedback for SvgLayer test
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/plexus/src/Digraph/SvgLayer.test.js
Due: jaeger-ui, plexus

fix: address Copilot review feedback for MeasurableNodesLayer
  packages/plexus/src/Digraph/MeasurableNodesLayer.test.js
  packages/plexus/src/Digraph/MeasurableNodesLayer.tsx
Due: plexus

fix: correct copyright header in SvgLayersGroup tests
  packages/plexus/src/Digraph/SvgLayersGroup.test.js
Due: plexus

fix: correct Rules of Hooks violation in SpanGraph
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/index.tsx
Due: jaeger-ui

fix: remove redundant React import in SpanGraph
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/index.tsx
Due: jaeger-ui

fix: remove unrelated TracePage changes from SvgLayer PR
  packages/jaeger-ui/src/components/TracePage/index.test.js
Due: jaeger-ui

fix: improve TypeScript types in MeasurableNode
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

fix: handle null left/top in SVG transform
  packages/plexus/src/Digraph/Node.test.js
  packages/plexus/src/Digraph/Node.tsx
Due: plexus

Refactor list view to functional component
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ListView/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ListView/index.tsx
Due: jaeger-ui

refactor tracespan view to functional component
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

refactor dependency graph to functional component
  packages/jaeger-ui/src/components/DependencyGraph/index.test.js
  packages/jaeger-ui/src/components/DependencyGraph/index.tsx
Due: jaeger-ui

Fix DependecyGraph page
  packages/jaeger-ui/src/components/DependencyGraph/index.tsx
Due: jaeger-ui
