Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

fix
  packages/jaeger-ui/src/actions/jaeger-api.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/index.test.js
  packages/jaeger-ui/src/components/QualityMetrics/index.test.js
  packages/jaeger-ui/src/middlewares/index.test.js
Due: jaeger-ui

fix(plexus): improve test isolation for SvgEdges tests
  packages/plexus/src/Digraph/SvgEdges.test.js
Due: plexus

remove redundant AccordionLinksProps type
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionLinks.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionLinks.tsx
Due: jaeger-ui

fix data length bug
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionLinks.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionLinks.tsx
Due: jaeger-ui

Add waiting-for-author workflow (#3454)
  .github/workflows/waiting-for-author.yml
Due: none

refactor: convert DiffNode to functional component (#3343)
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffGraph/renderNode.tsx
Due: jaeger-ui

Fixed text overlapping
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.css
Due: jaeger-ui

breakable-text span
  packages/jaeger-ui/src/components/common/BreakableText.css
Due: jaeger-ui

refactor: convert HopsSelector Selector to functional component (#3340)
  packages/jaeger-ui/src/components/DeepDependencies/Header/HopsSelector/Selector.tsx
Due: jaeger-ui

[chore] Remove history from ResultItem (#3361)
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItem.tsx
Due: jaeger-ui

Replace @sentry/browser with generic internal error capture implementation (#3226)
  package-lock.json
  package.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/prefix-url-coverage.test.js
  packages/jaeger-ui/src/site-prefix.test.js
  packages/jaeger-ui/src/site-prefix.ts
  packages/jaeger-ui/src/types/tracking.ts
  packages/jaeger-ui/src/utils/prefix-url.test.js
  packages/jaeger-ui/src/utils/prefix-url.ts
  packages/jaeger-ui/src/utils/tracking/conv-sentry-to-ga.test.js
  packages/jaeger-ui/src/utils/tracking/conv-sentry-to-ga.ts
  packages/jaeger-ui/src/utils/tracking/error-capture.test.ts
  packages/jaeger-ui/src/utils/tracking/error-capture.ts
  packages/jaeger-ui/src/utils/tracking/fixtures.ts
  packages/jaeger-ui/src/utils/tracking/ga.test.js
  packages/jaeger-ui/src/utils/tracking/ga.ts
Due: jaeger-ui

[otel migration] Add runtime schema validation to v3 API client (#3448)
  docs/adr/0002-otlp-api-v3-migration.md
  eslint.config.js
  package-lock.json
  package.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/api/v3/README.md
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/api/v3/generated-client.ts
  packages/jaeger-ui/src/api/v3/schemas.test.ts
  packages/jaeger-ui/src/api/v3/schemas.ts
  scripts/postprocess-schemas.cjs
Due: jaeger-ui

header-span
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.css
Due: jaeger-ui

[otel migration] Phase 3.1: add JaegerClient v3 and use for services / operations (#3329)
  docs/adr/0002-otlp-api-v3-migration.md
  docs/adr/0005-current-state-management-architecture.md
  docs/adr/README.md
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/hooks/useConfig.test.ts
  packages/jaeger-ui/src/hooks/useConfig.ts
  packages/jaeger-ui/src/hooks/useTraceDiscovery.test.ts
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui

Add missing test (#3453)
  packages/jaeger-ui/src/utils/tracking/ga-coverage.test.js
Due: jaeger-ui

Add PR quota workflow (#3441)
  .github/workflows/pr-quota-manager.yml
Due: none

test(plexus): add memoization behavior tests for SvgEdges
  packages/plexus/src/Digraph/SvgEdges.test.js
Due: plexus

feat(monitor-ui): support service/spanKind/timeframe via query params
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/index.test.js
Due: jaeger-ui

fix: use WorkerGlobalScope instead of Worker for correct typing
  packages/plexus/src/LayoutManager/layout.worker.ts
Due: plexus

feat(ui): add configurable 12h/24h time format
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItem.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ScatterPlot.tsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.test.js
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
  packages/jaeger-ui/src/components/common/RelativeDate.tsx
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/src/types/config.ts
  packages/jaeger-ui/src/utils/date.ts
  packages/jaeger-ui/src/utils/time-format.ts
Due: jaeger-ui

refactor: inline type definition and avoid destructuring in AccordionLinks
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionLinks.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/traces.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/QualityMetrics/index.test.js
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/DeepDependencies/index.test.js
  packages/jaeger-ui/src/middlewares/index.test.js
Due: jaeger-ui

feat: Export TraceGraph as svg
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.test.js
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.tsx
  packages/jaeger-ui/src/utils/exportTraceGraph.ts
Due: jaeger-ui

test(plexus): add complete memoization coverage for SvgEdges
  packages/plexus/src/Digraph/SvgEdges.test.js
Due: plexus

ui-buttons
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.css
Due: jaeger-ui

search button
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.css
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
Due: jaeger-ui

date-time responsiveness
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItem.tsx
Due: jaeger-ui

fix(plexus): restore original Uber copyright headers
  packages/plexus/src/Digraph/SvgEdges.test.js
  packages/plexus/src/Digraph/SvgEdges.tsx
Due: plexus

Suppress console errors for 501 metrics API responses (#3461)
  packages/jaeger-ui/src/utils/tracking/error-capture.test.ts
  packages/jaeger-ui/src/utils/tracking/error-capture.ts
Due: jaeger-ui

chore(deps): update dependency prettier to v3.8.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency prettier to v3.8.1 (#3447)
  package-lock.json
  package.json
Due: none

added tests for export Trace Graph utility
  packages/jaeger-ui/src/utils/exportTraceGraph.test.ts
Due: jaeger-ui

Fix TypeError in operations metrics reducer when no trace data exists (#3460)
  packages/jaeger-ui/src/reducers/metrics.mock.ts
  packages/jaeger-ui/src/reducers/metrics.test.js
  packages/jaeger-ui/src/reducers/metrics.ts
Due: jaeger-ui

fix(Header): make TraceIDSearchInput theme-aware for proper contrast
  packages/jaeger-ui/src/components/App/TraceIDSearchInput.css
Due: jaeger-ui

feat: add trace export feature with JSON/CSV/HAR formats
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceExportButton.css
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceExportButton.test.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceExportButton.tsx
  packages/jaeger-ui/src/utils/trace-export.test.ts
  packages/jaeger-ui/src/utils/trace-export.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/QualityMetrics/index.tsx
Due: jaeger-ui

Fix : Search Sidebar
  packages/jaeger-ui/src/components/App/TraceIDSearchInput.css
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/DeepDependencies/index.test.js
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/hooks/useTraceDiscovery.test.ts
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
Due: jaeger-ui

Path conditions:
  jaeger-ui: any of: packages/jaeger-ui/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
  plexus: any of: packages/plexus/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
