Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

fix
  docs/adr/0004-state-management-strategy.md
Due: none

Update packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
Due: jaeger-ui

fix test
  packages/jaeger-ui/src/components/SearchTracePage/index.test.jsx
Due: jaeger-ui

refactor: convert SpanGraph to functional component
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/index.tsx
Due: jaeger-ui

Add Jaeger assistant (AG-UI + assistant-ui)
  .gitignore
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.css
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.test.jsx
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.tsx
  packages/jaeger-ui/src/components/App/JaegerAssistantContext.tsx
  packages/jaeger-ui/src/components/App/JaegerAssistantPanel.css
  packages/jaeger-ui/src/components/App/JaegerAssistantPanel.tsx
  packages/jaeger-ui/src/components/App/Page.css
  packages/jaeger-ui/src/components/App/Page.tsx
  packages/jaeger-ui/src/components/App/TopNav.test.jsx
  packages/jaeger-ui/src/components/App/TopNav.tsx
  packages/jaeger-ui/src/components/App/TraceIDSearchInput.css
  packages/jaeger-ui/src/components/App/TraceIDSearchInput.test.jsx
  packages/jaeger-ui/src/components/App/TraceIDSearchInput.tsx
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/App/jaegerAgUi.ts
  packages/jaeger-ui/src/vite-env.d.ts
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui

refactor: convert SpanGraph to functional component (#3705)
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/index.tsx
Due: jaeger-ui

fix
  docs/adr/0004-state-management-strategy.md
  docs/adr/0008-state-management-implementation-plan.md
  docs/adr/README.md
Due: none

fix(deps): update dependency react-router-dom to v7.14.0
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

chore(deps): update dependency @types/node to v24
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

chore(deps): update dependency @types/node to v24 (#3708)
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

fix(deps): update dependency react-router-dom to v7.14.0 (#3707)
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

Part of Phase 1: refactor: migrate trace diff state from Redux to Zustand (#3702)
  packages/jaeger-ui/src/components/App/TopNav.test.jsx
  packages/jaeger-ui/src/components/App/TopNav.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.test.jsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.tsx
  packages/jaeger-ui/src/components/TraceDiff/duck.test.js
  packages/jaeger-ui/src/components/TraceDiff/duck.ts
  packages/jaeger-ui/src/stores/trace-diff-store.test.ts
  packages/jaeger-ui/src/stores/trace-diff-store.ts
  packages/jaeger-ui/src/types/index.ts
  packages/jaeger-ui/src/utils/configure-store.ts
Due: jaeger-ui

chore: drop legacy browser support
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/vite.config.mts
Due: none

chore: Drop legacy browser support (#3712)
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/vite.config.mts
Due: none

test: replaced vi.mock('react-router-dom') spread pattern with MemoryRouter
  packages/jaeger-ui/src/components/App/TraceIDSearchInput.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/index.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/SidePanel/DetailsPanel.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/index.test.jsx
  packages/jaeger-ui/src/components/QualityMetrics/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.test.jsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/useNormalizeTraceId.test.ts
  packages/jaeger-ui/src/components/common/UiFindInput.test.jsx
Due: jaeger-ui

test: replace vi.mock('react-router-dom') spread pattern with MemoryRouter
  packages/jaeger-ui/src/components/DeepDependencies/index.test.jsx
Due: jaeger-ui

fix
  docs/adr/0004-state-management-strategy.md
  docs/adr/0008-state-management-implementation-plan.md
Due: none

fix
  docs/adr/0004-state-management-strategy.md
  docs/adr/README.md
Due: none

change file name
  docs/adr/0008-target-state-management-architecture.md
Due: none

docs(adr): add state management implementation plan (0008) (#3704)
  docs/adr/0004-state-management-strategy.md
  docs/adr/0008-target-state-management-architecture.md
  docs/adr/README.md
Due: none

fix: Maximum update depth exceeded infinite loop
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.tsx
Due: jaeger-ui

Archive Notifier migrated from Redux to Zustand
  docs/adr/0004-state-management-strategy.md
  packages/jaeger-ui/src/components/TracePage/ArchiveNotifier/duck.test.js
  packages/jaeger-ui/src/components/TracePage/ArchiveNotifier/duck.ts
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/stores/archive-store.test.ts
  packages/jaeger-ui/src/stores/archive-store.ts
  packages/jaeger-ui/src/types/index.ts
  packages/jaeger-ui/src/utils/configure-store.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/stores/archive-store.test.ts
  packages/jaeger-ui/src/stores/archive-store.ts
Due: jaeger-ui

increase coverage
  packages/jaeger-ui/src/stores/archive-store.test.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/ArchiveNotifier/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/ArchiveNotifier/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/stores/archive-store.test.ts
  packages/jaeger-ui/src/stores/archive-store.ts
  packages/jaeger-ui/src/types/api-error.ts
  packages/jaeger-ui/src/types/archive.ts
Due: jaeger-ui

add tests for api-error
  packages/jaeger-ui/src/types/api-error.test.ts
Due: jaeger-ui

add tests for config.ts & embedded.ts
  packages/jaeger-ui/src/reducers/config.test.ts
  packages/jaeger-ui/src/reducers/embedded.test.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/reducers/embedded.test.ts
Due: jaeger-ui

increase code coverage for configure-store
  packages/jaeger-ui/src/utils/configure-store.test.js
Due: jaeger-ui

Part of Phase 1 (1b): Archive Notifier migrated from Redux to Zustand (#3715)
  docs/adr/0004-state-management-strategy.md
  packages/jaeger-ui/src/components/TracePage/ArchiveNotifier/duck.test.js
  packages/jaeger-ui/src/components/TracePage/ArchiveNotifier/duck.ts
  packages/jaeger-ui/src/components/TracePage/ArchiveNotifier/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/ArchiveNotifier/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/reducers/config.test.ts
  packages/jaeger-ui/src/reducers/embedded.test.ts
  packages/jaeger-ui/src/stores/archive-store.test.ts
  packages/jaeger-ui/src/stores/archive-store.ts
  packages/jaeger-ui/src/types/api-error.test.ts
  packages/jaeger-ui/src/types/api-error.ts
  packages/jaeger-ui/src/types/archive.ts
  packages/jaeger-ui/src/types/index.ts
  packages/jaeger-ui/src/utils/configure-store.test.js
  packages/jaeger-ui/src/utils/configure-store.ts
Due: jaeger-ui

fix: prevent infinite loop on TraceDiff with empty trace IDs (#3714)
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.tsx
Due: jaeger-ui

test(plexus): add zoom utils coverage
  packages/plexus/src/zoom/ZoomManager.ts
  packages/plexus/src/zoom/utils.test.ts
  packages/plexus/src/zoom/utils.ts
Due: plexus

Harden release command runner
  scripts/prepare-release.py
Due: none

Simplify check-env to use nvm use
  Makefile
Due: none

Move trace timeline layout prefs to Zustand
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/stores/trace-timeline-store.test.ts
  packages/jaeger-ui/src/stores/trace-timeline-store.ts
Due: jaeger-ui

Part of Phase 1 (Sub-1c): Move trace timeline layout prefs to Zustand (#3719)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/stores/trace-timeline-store.test.ts
  packages/jaeger-ui/src/stores/trace-timeline-store.ts
Due: jaeger-ui

migrate collapse/expand and detail state to Zustand
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailSidePanel/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailSidePanel/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/stores/trace-timeline-store.test.ts
  packages/jaeger-ui/src/stores/trace-timeline-store.ts
Due: jaeger-ui

Add environment checks to prepare-release target (#3512)
  Makefile
Due: none
