Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

refactor(TracePage): Unify view tracking and fix GenAI deactivation
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.test.jsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.ts
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix(TracePage): Restore Props field order in AltViewOptions
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.tsx
Due: jaeger-ui

fix(TracePage): Restore destructuring order in TracePageHeaderFn
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
Due: jaeger-ui

feat(TracePage): Add GenAITimelineViewer view type with auto-activation (#3872)
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.test.jsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.ts
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/types.ts
Due: jaeger-ui

test: Add coverage for cache-seeding when trace ID differs from request
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.test.jsx
  packages/jaeger-ui/src/hooks/useTraceLoading.test.ts
Due: jaeger-ui

fix: Require minimum 8 decoded bytes for base64 trace ID detection
  packages/jaeger-ui/src/utils/trace-id.test.ts
  packages/jaeger-ui/src/utils/trace-id.ts
Due: jaeger-ui

fix: URL-encode trace ID in fetchTrace API call
  packages/jaeger-ui/src/api/jaeger.ts
Due: jaeger-ui

fix: Add comment explaining atob handles unpadded base64
  packages/jaeger-ui/src/utils/trace-id.ts
Due: jaeger-ui

feat: Treat trace IDs as opaque strings, support base64 encoding (#4118)
  packages/jaeger-ui/src/api/jaeger.ts
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.test.jsx
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.test.jsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.track.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/url/index.ts
  packages/jaeger-ui/src/components/TracePage/useNormalizeTraceId.test.ts
  packages/jaeger-ui/src/components/TracePage/useNormalizeTraceId.ts
  packages/jaeger-ui/src/hooks/useTraceLoading.test.ts
  packages/jaeger-ui/src/hooks/useTraceLoading.ts
  packages/jaeger-ui/src/model/transform-trace-data.ts
  packages/jaeger-ui/src/utils/filter-spans.test.js
  packages/jaeger-ui/src/utils/filter-spans.ts
  packages/jaeger-ui/src/utils/trace-id.test.ts
  packages/jaeger-ui/src/utils/trace-id.ts
Due: jaeger-ui

fix(assistant): clear trace ID lookup field on navigation (#4135)
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.test.jsx
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.tsx
Due: jaeger-ui

fix(bug): clear trace ID input field on navigation/reload (#4135) (#4136)
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.test.jsx
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.tsx
Due: jaeger-ui

fix(genai-tab): gate GenAI tab on isGenAISpan only, not aiAssistant capability
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
Due: jaeger-ui

test(tracegraph): update button queries to use new aria-labels
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.test.jsx
Due: jaeger-ui

fix: add OLDEST_FIRST comparator in search.ts and list-view dropdown
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
  packages/jaeger-ui/src/model/search.test.js
  packages/jaeger-ui/src/model/search.ts
Due: jaeger-ui

test: add coverage for toOrderBy startTime+ascend to OLDEST_FIRST
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
Due: jaeger-ui

chore: Remove unsafe use of _get()
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/traces.tsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffGraph/traceDiffGraphUtils.ts
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.tsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/model/path-agnostic-decorations/index.tsx
  packages/jaeger-ui/src/types/config.ts
  packages/jaeger-ui/src/types/index.ts
  packages/jaeger-ui/src/utils/DraggableManager/DraggableManager.ts
  packages/jaeger-ui/src/utils/plexus/set-on-graph.ts
  packages/jaeger-ui/src/utils/tracking/ga.ts
Due: jaeger-ui

Potential fix for pull request finding
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
Due: jaeger-ui

test(api): add URL encoding test for fetchServiceOperations
  packages/jaeger-ui/src/api/jaeger.test.js
Due: jaeger-ui

build: Migrate from npm to pnpm
  .claude/settings.json
  .github/actions/setup-node-and-deps/action.yml
  .github/workflows/Dockerfile
  .github/workflows/check_bundle.yml
  .github/workflows/lint-build.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  AGENTS.md
  BUILD.md
  CONTRIBUTING.md
  Makefile
  knip.config.ts
  package-lock.json
  package.json
  packages/jaeger-ui/README.md
  packages/jaeger-ui/jaeger-ui.config.console-analytics.js
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/api/v3/README.md
  packages/jaeger-ui/src/api/v3/generated-client.ts
  packages/jaeger-ui/src/utils/tracking/README.md
  packages/jaeger-ui/vite.config.mts
  packages/jaeger-ui/vitest.config.ts
  packages/plexus/BUILD.md
  packages/plexus/README.md
  packages/plexus/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
  scripts/check-npm-version.cjs
  scripts/check-overrides.sh
  scripts/check-tsx-naming.sh
  scripts/postprocess-schemas.cjs
  scripts/prepare-release.py
Due: jaeger-ui

docs: Correct stale test info in BUILD.md
  BUILD.md
Due: none

chore(pnpm): Migrate package manager to pnpm
  .github/actions/setup-node-and-deps/action.yml
  .github/workflows/check_bundle.yml
  .github/workflows/lint-build.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .npmrc
  BUILD.md
  CONTRIBUTING.md
  Makefile
  package-lock.json
  package.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/vite.config.ts
  packages/jaeger-ui/vitest.config.ts
  packages/plexus/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-npm-version.cjs
  scripts/check-overrides.sh
  scripts/check-pnpm-version.cjs
Due: none

chore(ci): route build/lint/test/coverage steps through Makefile entrypoints
  .github/workflows/check_bundle.yml
  .github/workflows/lint-build.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  Makefile
Due: none

test(plexus): add coverage for coordinate conversion helpers
  packages/plexus/src/LayoutManager/dot/conv-coord.test.ts
Due: plexus

build: Fix test arg forwarding and overrides script
  package.json
  scripts/check-overrides.sh
Due: none

test(TracePageSearchBar): add assertions for accessible button names
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageSearchBar.test.jsx
Due: jaeger-ui

fix copilot errors
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.layout.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.test.ts
Due: jaeger-ui

refactor(TracePage): decouple view-specific search logic into each view
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.tsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/types.ts
Due: jaeger-ui

refactor(TracePage): address review — derive header count, recompute stats on trace change
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

Update index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
Due: jaeger-ui

chore:run make fmt
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
Due: jaeger-ui

fix: restore accidentally removed comments and revert copyright year
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
  packages/jaeger-ui/src/model/order-by.ts
Due: jaeger-ui

refactor(TracePage): Decouple search logic
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.tsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/types.ts
Due: jaeger-ui

chore(pnpm): Remove shadowed vite.config.ts
  packages/jaeger-ui/vite.config.ts
Due: none

feat(search): add ascending sort support for Start Time column (#4033)
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
  packages/jaeger-ui/src/model/order-by.ts
  packages/jaeger-ui/src/model/search.test.js
  packages/jaeger-ui/src/model/search.ts
Due: jaeger-ui

fix(monitor): Honor stored service fallback and sync URL params
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
Due: jaeger-ui

fix(tracepage): handle root span navigation at index 0
  packages/jaeger-ui/src/components/TracePage/ScrollManager.test.js
  packages/jaeger-ui/src/components/TracePage/ScrollManager.ts
Due: jaeger-ui

build(deps): migrate package manager from npm to pnpm
  .github/actions/setup-node-and-deps/action.yml
  .github/workflows/Dockerfile
  .github/workflows/check_bundle.yml
  .github/workflows/lint-build.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .gitignore
  .npmrc
  BUILD.md
  CONTRIBUTING.md
  Makefile
  knip.config.ts
  package-lock.json
  package.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/vite.config.mts
  packages/plexus/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-npm-version.cjs
  scripts/check-overrides.sh
Due: none

fix(test): unmount between renders in TraceId length-class test (#3894)
  packages/jaeger-ui/src/components/common/TraceId.test.jsx
Due: jaeger-ui

fix(plexus): Add layout versioning to prevent race conditions
  packages/plexus/src/Digraph/index.tsx
Due: plexus

Path conditions:
  jaeger-ui: any of: packages/jaeger-ui/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
  plexus: any of: packages/plexus/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
