Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

fix(filter-spans): stringify object/array attribute values for span search (#4171)
  packages/jaeger-ui/src/utils/filter-spans.test.js
  packages/jaeger-ui/src/utils/filter-spans.ts
Due: jaeger-ui

feat(SpanDetail): add rich-media rendering for GenAI attributes
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAIAttributeRenderer.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAIAttributeRenderer.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui/src/utils/genai/detect.test.ts
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui

fix(SpanDetail): address review feedback on GenAI attribute renderer
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAIAttributeRenderer.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.css
Due: jaeger-ui

feat(search): Improve table view column sorting
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.css
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
  packages/jaeger-ui/src/model/order-by.ts
  packages/jaeger-ui/src/model/search.test.js
  packages/jaeger-ui/src/model/search.ts
Due: jaeger-ui

fix(search): Add aria-hidden to sort icon and clarify cancel test name
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.tsx
Due: jaeger-ui

feat(search):Align trace name sorting fallback
  packages/jaeger-ui/src/model/search.test.js
  packages/jaeger-ui/src/model/search.ts
Due: jaeger-ui

refactor(search): Convert order-by to string enum and move toOrderBy/fromOrderBy to model
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.css
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/model/order-by.ts
  packages/jaeger-ui/src/model/search.test.js
  packages/jaeger-ui/src/model/search.ts
  packages/jaeger-ui/test/vitest-setup.ts
Due: jaeger-ui

feat(search):TraceOrderBy type to enforce supported sort keys for ISortableTrace objects
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
  packages/jaeger-ui/src/model/order-by.ts
  packages/jaeger-ui/src/model/search.ts
  packages/jaeger-ui/test/vitest-setup.ts
Due: jaeger-ui

feat(search): Use const union for OrderBy and harden sort helpers
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/model/order-by.ts
  packages/jaeger-ui/src/model/search.ts
Due: jaeger-ui

chore: apply formatter to GenAIAttributeRenderer and detect.test
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAIAttributeRenderer.tsx
  packages/jaeger-ui/src/utils/genai/detect.test.ts
Due: jaeger-ui

fix(GenAIAttributeRenderer): use shared jsonViewStyles, fix role formatting, drop CSS fallback
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAIAttributeRenderer.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.css
Due: jaeger-ui

fix(GenAIAttributeRenderer): narrow parsed type to satisfy JsonView data constraint
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAIAttributeRenderer.tsx
Due: jaeger-ui

feat(search): Improve table view column sorting (#3994)
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/model/order-by.ts
  packages/jaeger-ui/src/model/search.test.js
  packages/jaeger-ui/src/model/search.ts
Due: jaeger-ui

fix(lint): Enable no-unused-vars for JS/JSX files, clear violations
  packages/jaeger-ui/jaeger-ui.config.console-analytics.js
  packages/jaeger-ui/src/components/DeepDependencies/Header/HopsSelector/index.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/index.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/url.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/operationDetailsTable/index.test.jsx
  packages/jaeger-ui/src/components/QualityMetrics/MetricCard.test.jsx
  packages/jaeger-ui/src/components/QualityMetrics/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/AltViewOptions.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.jsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffGraph/renderNode.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/OpNode.test.jsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.test.jsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageSearchBar.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ReferencesButton.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionEvents.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailRow.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/utils.test.js
  packages/jaeger-ui/src/components/TracePage/Tween.test.js
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/model/search.test.js
  packages/jaeger-ui/src/model/transform-trace-data.test.js
  packages/jaeger-ui/src/utils/readJsonFile.test.js
  packages/plexus/src/Digraph/SvgLayer.test.jsx
  vite.config.ts
Due: jaeger-ui, plexus

fix(lint): Use _unused for intentionally-discarded bindings
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionEvents.test.jsx
  packages/plexus/src/Digraph/SvgLayer.test.jsx
Due: jaeger-ui, plexus

fix(lint): Exclude console-analytics example from no-unused-vars
  packages/jaeger-ui/jaeger-ui.config.console-analytics.js
  vite.config.ts
Due: none

fix(lint): Enable no-redeclare, no-use-before-define, no-useless-constructor for JS
  vite.config.ts
Due: none

chore(lint): Clarify no-shadow comment in JS override
  vite.config.ts
Due: none

chore(lint): Restore block-level context to JS override comment
  vite.config.ts
Due: none

fix(lint): Strengthen linting for JS/JSX files (#4173)
  packages/jaeger-ui/src/components/DeepDependencies/Header/HopsSelector/index.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/index.test.jsx
  packages/jaeger-ui/src/components/DeepDependencies/url.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/operationDetailsTable/index.test.jsx
  packages/jaeger-ui/src/components/QualityMetrics/MetricCard.test.jsx
  packages/jaeger-ui/src/components/QualityMetrics/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/AltViewOptions.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.jsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffGraph/renderNode.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/OpNode.test.jsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.test.jsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageSearchBar.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ReferencesButton.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionEvents.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailRow.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/utils.test.js
  packages/jaeger-ui/src/components/TracePage/Tween.test.js
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/model/search.test.js
  packages/jaeger-ui/src/model/transform-trace-data.test.js
  packages/jaeger-ui/src/utils/readJsonFile.test.js
  packages/plexus/src/Digraph/SvgLayer.test.jsx
  vite.config.ts
Due: jaeger-ui, plexus

fix(dev): Exclude react-icons/tb from Vite dep optimizer
  .github/workflows/lint-build.yml
  package.json
  packages/jaeger-ui/vite.config.mts
  scripts/check-dev-server.sh
Due: none

fix(dev): Exclude react-icons/tb from Vite dep optimizer (#4174)
  .github/workflows/lint-build.yml
  package.json
  packages/jaeger-ui/vite.config.mts
  scripts/check-dev-server.sh
Due: none

feat(search): Add absolute/relative toggle for table start time
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.tsx
  packages/jaeger-ui/src/components/SearchTracePage/store.search-results.test.ts
  packages/jaeger-ui/src/components/SearchTracePage/store.search-results.ts
  packages/jaeger-ui/src/utils/date.ts
Due: jaeger-ui

chore: migrate from npm to pnpm
  .github/actions/setup-node-and-deps/action.yml
  .github/workflows/Dockerfile
  .github/workflows/check_bundle.yml
  .github/workflows/lint-build.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  Makefile
  package-lock.json
  package.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/vite.config.mts
  packages/jaeger-ui/vitest.config.ts
  packages/plexus/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-npm-version.cjs
  scripts/check-overrides.sh
Due: none

ci: run setup-node before corepack enable in composite action (#4141)
  .github/actions/setup-node-and-deps/action.yml
Due: none

address review: ignore-scripts in lockfile check, corepack prompt in Dockerfile, pnpm guard in check-overrides
  .github/workflows/Dockerfile
  .github/workflows/lint-build.yml
  scripts/check-overrides.sh
Due: none

fix(docs): Clarify formatRelativeTime expects microseconds
  packages/jaeger-ui/src/utils/date.ts
Due: jaeger-ui

chore: use pnpm in root start and update-snapshots scripts (#4141)
  package.json
Due: none

chore: sync pnpm-lock.yaml after rebase
  pnpm-lock.yaml
Due: none

refactor(search): Reuse formatRelativeTime in list view
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItem.tsx
Due: jaeger-ui

test(search): Verify real default for startTimeDisplay
  packages/jaeger-ui/src/components/SearchTracePage/store.search-results.test.ts
Due: jaeger-ui

chore: replace npx only-allow pnpm with self-contained package-manager check
  package.json
  scripts/check-package-manager.cjs
Due: none

fix(types): Use Microseconds type for formatRelativeTime param
  packages/jaeger-ui/src/utils/date.ts
Due: jaeger-ui

feat(search): Add absolute/relative toggle for table start time (#4175)
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItem.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.tsx
  packages/jaeger-ui/src/components/SearchTracePage/store.search-results.test.ts
  packages/jaeger-ui/src/components/SearchTracePage/store.search-results.ts
  packages/jaeger-ui/src/utils/date.ts
Due: jaeger-ui

refactor(TracePage): Decouple view search logic
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.tsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

ci: enable corepack before setup-node cache to fix pnpm-not-found
  .github/actions/setup-node-and-deps/action.yml
Due: none

refactor(test): Optimize and split Vitest tests
  packages/jaeger-ui/src/components/Monitor/ServicesView/operationDetailsTable/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
  packages/jaeger-ui/vitest.config.ts
Due: jaeger-ui

refactor(test): Optimize and split Vitest tests
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

Add configurable API request timeout
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/src/hooks/useJaegerAssistant.test.ts
  packages/jaeger-ui/src/types/config.ts
Due: jaeger-ui

perf(tests): reduce redundant renders in TopNav.test.jsx
  packages/jaeger-ui/src/components/App/TopNav.test.jsx
Due: jaeger-ui

Path conditions:
  jaeger-ui: any of: packages/jaeger-ui/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
  plexus: any of: packages/plexus/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
