Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

DAG error text visibility in dark mode
  packages/jaeger-ui/src/components/DependencyGraph/dag.css
Due: jaeger-ui

fix: preserve location.state during URL normalization
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix: addressed copilot feedback
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix: using relative path for URL normalization
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix: normalize uppercase trace IDs to lowercase in URL
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

test: added integration test for tracePage uppercase to lowercase trace ID normalization
  packages/jaeger-ui/src/components/TracePage/index.integration.test.js
Due: jaeger-ui

fix: used getUrl function that already exists
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

refactor: simplify URL construction for better readability
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix: respect slot selection in TraceDiff search
  packages/jaeger-ui/src/components/TraceDiff/getValidState.test.js
  packages/jaeger-ui/src/components/TraceDiff/getValidState.ts
Due: jaeger-ui

fixed test description mistmatch
  packages/jaeger-ui/src/components/TraceDiff/getValidState.test.js
Due: jaeger-ui

added test case for only a provided scenario
  packages/jaeger-ui/src/components/TraceDiff/getValidState.test.js
Due: jaeger-ui

refactor : migrated Digraph to Functional Component
  packages/plexus/src/Digraph/index.tsx
Due: plexus

fix: normalize uppercase trace IDs in URL to prevent double-fetch
  packages/jaeger-ui/src/components/TracePage/index.integration.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix: addressed all copilot suggestions
  packages/jaeger-ui/src/components/TracePage/index.integration.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

refactor(plexus): migrate SvgEdge to functional component (#3396)
  packages/plexus/src/Digraph/SvgEdge.tsx
Due: plexus

chore: revert unintended dependency and lockfile changes
  package-lock.json
Due: none

refactor(plexus): migrate SvgDefEntry to functional component (#3395)
  packages/plexus/src/Digraph/SvgDefEntry.tsx
Due: plexus

refactor(plexus): migrate NodesLayer to functional component (#3394)
  packages/plexus/src/Digraph/NodesLayer.tsx
Due: plexus

refactor(plexus): migrate Node to functional component (#3392)
  packages/plexus/src/Digraph/Node.tsx
Due: plexus

refactor(plexus): migrate MeasurableNodes to functional component
  packages/plexus/src/Digraph/MeasurableNodes.tsx
Due: plexus

refactor(plexus): migrate Digraph to functional component
  packages/plexus/src/Digraph/index.tsx
Due: plexus

fix: address initialization mismatch and formatting in Trace Statistics
  package-lock.json
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/TraceStatisticsHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

perf: optimize max value computation and remove dead code
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

fix(plexus): fix edge label clipping and update demo to React 18
  packages/plexus/demo/src/index.tsx
  packages/plexus/src/Digraph/SvgEdge.test.tsx
  packages/plexus/src/Digraph/SvgEdge.tsx
  packages/plexus/src/Digraph/SvgEdges.tsx
  packages/plexus/src/Digraph/SvgEdgesLayer.tsx
  packages/plexus/src/Digraph/index.tsx
  packages/plexus/src/Digraph/types.ts
Due: plexus

Fix SPM metrics not fetched on initial load due to null check (#3538)
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
Due: jaeger-ui

remove manual DOM width measurement
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.css
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.tsx
Due: jaeger-ui

tests updated
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.test.js
Due: jaeger-ui

fix autopilot suggestions
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.css
Due: jaeger-ui

addressing review comments by improving code robustness and theming alignment
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.ts
  packages/jaeger-ui/src/components/common/RelativeBar.css
  packages/jaeger-ui/src/components/common/RelativeBar.tsx
Due: jaeger-ui

fix(plexus): use direct imports instead of React. prefix
  packages/plexus/src/Digraph/MeasurableNode.test.js
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

fix(plexus): align test file copyright with plexus convention
  packages/plexus/src/Digraph/MeasurableNode.test.js
Due: plexus

fix(plexus): fix React.memo test to actually verify memoization
  packages/plexus/src/Digraph/SvgLayersGroup.test.js
Due: plexus

refrac(plexus/src/Digraph/SvgLayersGroup.tsx): changed class component to functional component
  packages/plexus/src/Digraph/SvgLayersGroup.tsx
Due: plexus

fix(Digraph/index.tsx): resolved typescript error due to lost generic context because of wrapping a generic FC into React.memo
  packages/plexus/src/Digraph/SvgLayersGroup.tsx
  packages/plexus/src/Digraph/index.tsx
Due: plexus

remove width prop from Placeholder and ServiceGraph in tests
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.test.js
Due: jaeger-ui

feat(ui): fetch storage capabilities from backend during Vite dev mode
  package-lock.json
  package.json
  packages/jaeger-ui/vite.config.mts
  verify_otel.cjs
Due: none

Update packages/jaeger-ui/vite.config.mts
  packages/jaeger-ui/vite.config.mts
Due: none

fix(ui): improve error handling and safety in Vite config plugin
  packages/jaeger-ui/vite.config.mts
Due: none

Update .gitignore for jaeger-ui
  packages/jaeger-ui/.gitignore
Due: none

Refactor: Replace isATMActivated and monitor.menuEnabled with StorageCapabilities.metricsStorage
  packages/jaeger-ui/index.html
  packages/jaeger-ui/src/components/App/TopNav.test.js
  packages/jaeger-ui/src/components/App/TopNav.tsx
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.css
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.test.js
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.tsx
  packages/jaeger-ui/src/components/Monitor/EmptyState/media/monitor.png
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.js
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/index.test.js
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/src/reducers/metrics.mock.ts
  packages/jaeger-ui/src/reducers/metrics.test.js
  packages/jaeger-ui/src/reducers/metrics.ts
  packages/jaeger-ui/src/types/config.ts
  packages/jaeger-ui/src/types/metrics.ts
  packages/jaeger-ui/src/utils/config/get-config.test.js
Due: jaeger-ui

Path conditions:
  jaeger-ui: any of: packages/jaeger-ui/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
  plexus: any of: packages/plexus/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
