Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

feat(search): Use const union for OrderBy and harden sort helpers
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.test.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/TraceTable.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/model/order-by.ts
  packages/jaeger-ui/src/model/search.ts
Due: jaeger-ui

refactor(genai): address review comments on detect utility
  packages/jaeger-ui/src/utils/genai/detect.test.ts
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui

perf(test): Speed up Vitest unit-test suite
  packages/jaeger-ui/src/components/Monitor/ServicesView/operationDetailsTable/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
  packages/jaeger-ui/vitest.config.ts
Due: jaeger-ui

refactor(test): Remove redundant state spreading
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
Due: jaeger-ui

refactor(test): Restore mocked spies
  packages/jaeger-ui/src/components/Monitor/ServicesView/operationDetailsTable/index.test.jsx
Due: jaeger-ui

test(trace): Cover critical path branches
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.jsx
Due: jaeger-ui

refactor(timeline): extract critical path logic into helper module
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/criticalPath.ts
Due: jaeger-ui

chore(deps): update dependency @emnapi/core to v1.11.1
  package-lock.json
Due: none

chore(deps): update dependency @emnapi/runtime to v1.11.1
  package-lock.json
Due: none

chore(deps): update dependency eslint-plugin-react-x to v5.9.0
  package-lock.json
  package.json
Due: none

fix(deps): update opentelemetry-js monorepo
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

fix(deps): update opentelemetry-js-contrib monorepo to v0.64.0
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

Prevent ClickToCopy from triggering parent link navigation
  packages/jaeger-ui/src/components/common/ClickToCopy.test.jsx
  packages/jaeger-ui/src/components/common/ClickToCopy.tsx
Due: jaeger-ui

fix(plexus): Use currentColor for DDG edge labels in dark mode
  packages/plexus/src/Digraph/SvgEdge.tsx
  packages/plexus/src/Digraph/SvgEdgesLayer.test.jsx
  packages/plexus/src/Digraph/SvgEdgesLayer.tsx
Due: plexus

refactor: replace timer-based reflow with ResizeObserver-only approach
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionEvents.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionEvents.tsx
Due: jaeger-ui

fix(search): Keep back-to-search across find and trace ID clicks
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/useServiceFilter.tsx
  packages/jaeger-ui/src/components/common/ClickToCopy.test.jsx
  packages/jaeger-ui/src/components/common/ClickToCopy.tsx
  packages/jaeger-ui/src/utils/update-ui-find.test.js
  packages/jaeger-ui/src/utils/update-ui-find.ts
Due: jaeger-ui

fix(ClickToCopy): Address review on keyboard handling and tests
  packages/jaeger-ui/src/components/common/ClickToCopy.test.jsx
  packages/jaeger-ui/src/components/common/ClickToCopy.tsx
Due: jaeger-ui

fix(TraceGraph): Theme-aware graph edge colors
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.css
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.tsx
Due: jaeger-ui

refactor(TraceGraph): Scope edge styles and move legend to CSS
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.css
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.tsx
Due: jaeger-ui

refactor(TraceGraph): Scope arrowhead fill to marker path
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.css
Due: jaeger-ui

chore(deps): update dependency vite-plus to v0.1.24 [security]
  package-lock.json
  package.json
Due: none

fix(ClickToCopy): Simplify keyboard handling per review Use a whenKeyDown helper for Enter and Space on keydown, matching whenClicked, and remove the onKeyUp handler.
  packages/jaeger-ui/src/components/common/ClickToCopy.test.jsx
  packages/jaeger-ui/src/components/common/ClickToCopy.tsx
Due: jaeger-ui

fix(deps): Bump vitest and @vitest/coverage-v8 to 4.1.8
  package-lock.json
  package.json
  packages/jaeger-ui/package.json
  packages/plexus/package.json
Due: none

ci(renovate): Group @opentelemetry/* updates into a single PR
  renovate.json
Due: none

fix(deps): Bump vite-plus to 0.1.24 and vitest to 4.1.8 [security] (#4083)
  package-lock.json
  package.json
  packages/jaeger-ui/package.json
  packages/plexus/package.json
Due: none

ci(renovate): Group @opentelemetry/* updates into a single PR (#4084)
  renovate.json
Due: none

move all types to the top of the file
  packages/jaeger-ui/src/components/Monitor/ServicesView/useMetricsQuery.ts
Due: jaeger-ui

chore(deps): update dependency vite to v8.0.16 [security]
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

fix(deps): update opentelemetry
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

chore(deps): update dependency vite to v8.0.16 [security] (#4089)
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

fix(deps): update opentelemetry (#4090)
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

chore(deps): update dependency @babel/core to v7.29.6 [security]
  package-lock.json
  package.json
Due: none

ci(renovate): Group @emnapi/* updates into a single PR
  renovate.json
Due: none

chore(deps): update dependency @babel/core to v7.29.6 [security] (#4088)
  package-lock.json
  package.json
Due: none

ci(renovate): Group @emnapi/* updates into a single PR (#4091)
  renovate.json
Due: none

fix(ui): Address PR review comments for GenAI attributes
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionGenAIAttributes.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui
