Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

feat(timeline): Add contextual controls to span rows
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanRowControls/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanRowControls/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanRowControls/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.timeline.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/timeline-utils.ts
Due: jaeger-ui

test(timeline): Add comprehensive unit tests for subtree controls to ensure 100% patch coverage
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/timeline-utils.test.ts
Due: jaeger-ui

test(store): Add unit tests for toggleSubtreeCollapse and expanded controls state
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanRowControls/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.test.ts
Due: jaeger-ui

docs(rfc-0002): Correct wire-format claims against captured v2.19.0 output
  docs/rfc/0002-otel-native-jaeger-ui.md
Due: none

docs: update ui base path config file path
  CONTRIBUTING.md
Due: none

docs: change code fence from js to ts
  CONTRIBUTING.md
Due: none

fix(trace-timeline): align header span-details resizer with body resizer behavior
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.tsx
Due: jaeger-ui

docs: update ui base path configuration file path (#4256)
  CONTRIBUTING.md
Due: none

chore(deps): update dependency @vitejs/plugin-react to v6.1.0
  packages/jaeger-ui/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency antd to v6.6.1
  packages/jaeger-ui/package.json
  packages/plexus/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency antd to v6.6.1 (#4411)
  packages/jaeger-ui/package.json
  packages/plexus/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @vitejs/plugin-react to v6.1.0 (#4410)
  packages/jaeger-ui/package.json
  pnpm-lock.yaml
Due: none

fix(genai): Scope format choice to one message
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/message-format-store.ts
Due: jaeger-ui

docs(genai): Say plainly what the per-message format does not affect
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

fix(genai): Offer large markdown on request
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

fix(genai): Word every reveal prompt the same way
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

feat(genai): Collapse conversation messages
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

fix(genai): Scope format choice to one message (#4423)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/message-format-store.ts
Due: jaeger-ui

fix(genai): Offer large markdown on request (#4424)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

feat(genai): Collapse conversation messages (#4425)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

chore(deps): bump browserslist and fast-uri for Dependabot alerts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: Provision pnpm with corepack, not npm
  .github/actions/setup-node-and-deps/action.yml
Due: none

ci: Provision pnpm with corepack, not npm (#4428)
  .github/actions/setup-node-and-deps/action.yml
Due: none

feat(genai): Show media on request, not on sight
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/message-format-store.ts
  packages/jaeger-ui/src/utils/media.test.ts
  packages/jaeger-ui/src/utils/media.ts
Due: jaeger-ui

feat(genai): Show images and audio on request (#4313)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/message-format-store.ts
  packages/jaeger-ui/src/utils/media.test.ts
  packages/jaeger-ui/src/utils/media.ts
Due: jaeger-ui

refactor(plexus): migrate Digraph to functional component
  packages/plexus/src/Digraph/index.test.tsx
  packages/plexus/src/Digraph/index.tsx
  packages/plexus/src/zoom/ZoomManager.ts
Due: plexus

fix: validate invalid JSON trace files
  packages/jaeger-ui/src/utils/readJsonFile.test.js
  packages/jaeger-ui/src/utils/readJsonFile.ts
Due: jaeger-ui

feat(genai): Show what an attachment part carries
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.ts
  packages/jaeger-ui/src/utils/media.ts
Due: jaeger-ui

test(genai): Add media to the GenAI sample trace
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/genaiTestTrace.json
  scripts/utils/make-genai-trace.js
Due: jaeger-ui

feat(genai): Render a message as the list of parts it is
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/genaiTestTrace.json
  scripts/utils/make-genai-trace.js
Due: jaeger-ui

feat(genai): Give each part its own view control
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

fix(genai): Align a part's controls with the Details panel
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

fix(genai): Keep the media type a part declares
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/genaiTestTrace.json
  scripts/utils/make-genai-trace.js
Due: jaeger-ui

refactor(genai): Inline joinParts into message
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.ts
Due: jaeger-ui

refactor(genai): Group a part's media source with its type
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

fix(genai): Name an attachment by the type it actually carries
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.ts
Due: jaeger-ui

fix(genai): Keep a view's name out of the reason it is unavailable
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

fix(genai): Give every part the same four view names
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

fix(genai): Lead with what a part is, then how sure the tab is
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

fix(genai): Offer Image and Audio as separate views
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/message-format-store.ts
Due: jaeger-ui
