Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

fix
  .codecov.yml
  .github/workflows/lint-build.yml
Due: none

Calculate main and plexus test coverage separately (#3349)
  .codecov.yml
  .github/workflows/lint-build.yml
Due: none

Add test infrastructure for plexus package (#3347)
  package-lock.json
  packages/plexus/package.json
  packages/plexus/src/Digraph/HtmlLayer.test.js
  packages/plexus/test/babel-transform.js
  packages/plexus/test/generic-file-transform.js
  packages/plexus/test/jest-per-test-setup.js
  scripts/generateDepcheckrcPlexus.js
Due: plexus

Convert the HtmlLayer from class to functional component (#3345)
  packages/plexus/src/Digraph/HtmlLayer.tsx
Due: plexus

refractor: converting referenceButton from class based to functional based component
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ReferencesButton.tsx
Due: jaeger-ui

added comments to explaining why this is done at module level
  packages/jaeger-ui/src/components/App/index.tsx
Due: jaeger-ui

Convert the HtmlLayersGroup from class to functional component
  packages/plexus/src/Digraph/HtmlLayersGroup.tsx
Due: plexus

fix
  packages/plexus/src/Digraph/HtmlLayersGroup.tsx
Due: plexus

Convert the HtmlLayersGroup from class to functional component (#3351)
  packages/plexus/src/Digraph/HtmlLayersGroup.tsx
Due: plexus

refactor: convert App/index.tsx file's class based to functional component (#3342)
  packages/jaeger-ui/src/components/App/index.test.js
  packages/jaeger-ui/src/components/App/index.tsx
Due: jaeger-ui

refactor: convert DeepDependencies/Graph/DdgNodeContent to functional component
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/index.test.js
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/index.tsx
Due: jaeger-ui

fix: comments fixed for understanding
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/index.test.js
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
Due: jaeger-ui

fix
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchFormWithOtlpMetadata.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/hooks/useOtlpMetadata.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/components/SearchTracePage/SearchFormWithOtlpMetadata.tsx
  packages/jaeger-ui/src/hooks/useConfig.ts
  packages/jaeger-ui/src/hooks/useOtlpMetadata.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchFormWithOtlpMetadata.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
Due: jaeger-ui

fix
  docs/adr/0005-current-state-management-architecture.md
  docs/adr/README.md
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/hooks/useConfig.ts
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/SearchFormWithOtlpMetadata.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchFormWithOtlpMetadata.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
Due: jaeger-ui

fix
  docs/adr/0005-current-state-management-architecture.md
  packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/components/SearchTracePage/SearchFormWithOtlpMetadata.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
Due: jaeger-ui

add tests
  packages/plexus/src/Digraph/HtmlLayersGroup.test.js
Due: plexus

Add tests for HtmlLayersGroup component (#3355)
  packages/plexus/src/Digraph/HtmlLayersGroup.test.js
Due: plexus

Refactor Trace Statistics: Add relative bars and reduce number precision
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/TraceStatisticsHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.css
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
  packages/jaeger-ui/src/components/common/RelativeBar.css
  packages/jaeger-ui/src/components/common/RelativeBar.tsx
Due: jaeger-ui

refactor: convert DetailsPanel to functional
  packages/jaeger-ui/src/components/DeepDependencies/SidePanel/DetailsPanel.tsx
Due: jaeger-ui

fix: add missing error handling for fetchServiceOperations
  packages/jaeger-ui/src/reducers/services.test.js
  packages/jaeger-ui/src/reducers/services.ts
Due: jaeger-ui

Refactor Trace Statistics: Add relative bars and reduce number precision
  .codecov.yml
  .github/workflows/lint-build.yml
  package-lock.json
  packages/jaeger-ui/src/components/App/index.test.js
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/TraceStatisticsHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.css
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
  packages/jaeger-ui/src/components/common/RelativeBar.css
  packages/jaeger-ui/src/components/common/RelativeBar.tsx
  packages/plexus/package.json
  packages/plexus/src/Digraph/HtmlLayer.test.js
  packages/plexus/src/Digraph/HtmlLayer.tsx
  packages/plexus/src/Digraph/HtmlLayersGroup.test.js
  packages/plexus/src/Digraph/HtmlLayersGroup.tsx
  packages/plexus/test/babel-transform.js
  packages/plexus/test/generic-file-transform.js
  packages/plexus/test/jest-per-test-setup.js
  scripts/generateDepcheckrcPlexus.js
Due: jaeger-ui, plexus

Update packages/jaeger-ui/src/components/common/RelativeBar.css
  packages/jaeger-ui/src/components/common/RelativeBar.css
Due: jaeger-ui

Update packages/jaeger-ui/src/components/common/RelativeBar.tsx
  packages/jaeger-ui/src/components/common/RelativeBar.tsx
Due: jaeger-ui

Address reviewer feedback: refactor Trace Statistics implementation
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.css
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/types.ts
  packages/jaeger-ui/src/components/common/RelativeBar.css
  packages/jaeger-ui/src/components/common/RelativeBar.tsx
Due: jaeger-ui

removed history from ResultItem
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItem.tsx
Due: jaeger-ui

refractor: Updated the DetailsPanel class based component to functional based components
  packages/jaeger-ui/src/components/DeepDependencies/SidePanel/DetailsPanel.tsx
Due: jaeger-ui

used _op instead of operation
  packages/jaeger-ui/src/components/DeepDependencies/SidePanel/DetailsPanel.tsx
Due: jaeger-ui

test(plexus): add unit tests for SvgEdges component
  packages/plexus/src/Digraph/SvgEdges.test.js
Due: plexus

test(plexus): add unit tests for Nodes component
  packages/plexus/src/Digraph/Nodes.test.js
Due: plexus

Path conditions:
  jaeger-ui: any of: packages/jaeger-ui/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
  plexus: any of: packages/plexus/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
