Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

chore(deps): update dependency @babel/core to v7.29.6 [security] (#4088)
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vite to v8.0.16 [security] (#4089)
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

fix(ui): Address PR review comments for GenAI attributes
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionGenAIAttributes.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui

fix(deps): update opentelemetry (#4090)
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

feat(flamegraph): Implement native & improved Flamegraph trace view (#4098)
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphContextMenu.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphContextMenu.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphTable.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphTable.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphToolbar.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphTooltip.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphTooltip.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/convertOtelTraceToFlameData.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/convertOtelTraceToFlameData.ts
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/generateTableData.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/generateTableData.ts
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.css
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.tsx
  packages/jaeger-ui/src/types/external-modules.d.ts
  packages/jaeger-ui/vite.config.mts
  packages/jaeger-ui/vitest.config.ts
Due: jaeger-ui

chore(deps): update dependency knip to v6.18.0 (#4123)
  package-lock.json
  package.json
Due: none

feat(flamegraph): Resizable 50/50 table/chart split with scroll affordance (#4121)
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphTable.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphTable.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.css
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.tsx
Due: jaeger-ui

chore(deps): update github-actions deps (major) (#4128)
  .github/workflows/check_bundle.yml
  .github/workflows/codeql.yml
  .github/workflows/lint-build.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/unit-tests.yml
  .github/workflows/waiting-for-author.yml
Due: none

fix(plexus): Use currentColor for DDG edge weight labels in dark mode (#4079)
  packages/plexus/src/Digraph/SvgEdge.tsx
  packages/plexus/src/Digraph/SvgEdgesLayer.test.jsx
  packages/plexus/src/Digraph/SvgEdgesLayer.tsx
Due: plexus

chore(deps): update babel monorepo (major) (#4127)
  package-lock.json
  package.json
Due: none

chore(deps): update npm to v11.17.0 (#4097)
  package.json
Due: none

chore(deps): update node.js to v24.17.0 (#4124)
  .github/workflows/Dockerfile
Due: none

refactor(stats): Extract computeSpanSelfTime to shared utility (#4113)
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.ts
  packages/jaeger-ui/src/types/otel.ts
  packages/jaeger-ui/src/utils/compute-span-self-time.test.ts
  packages/jaeger-ui/src/utils/compute-span-self-time.ts
Due: jaeger-ui

refactor(ddg): Use functional component for Graph (#4100)
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.tsx
Due: jaeger-ui

fix(search): Keep back-to-search across find and trace ID clicks (#4080)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/useServiceFilter.tsx
  packages/jaeger-ui/src/components/common/ClickToCopy.test.jsx
  packages/jaeger-ui/src/components/common/ClickToCopy.tsx
  packages/jaeger-ui/src/utils/update-ui-find.test.js
  packages/jaeger-ui/src/utils/update-ui-find.ts
Due: jaeger-ui

fix(ui): address additional copilot feedback
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui

fix: CopyIcon button jumps/enlarges on hover (animation/layout glitch) (#4022)
  packages/jaeger-ui/src/components/common/CopyIcon.css
Due: jaeger-ui

Default to table view for search results (#4133)
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/store.search-results.ts
Due: jaeger-ui

Potential fix for pull request finding
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
Due: jaeger-ui

feat: Treat trace IDs as opaque strings, support base64 encoding (#4118)
  packages/jaeger-ui/src/api/jaeger.ts
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.test.jsx
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.tsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.test.jsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.track.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/url/index.ts
  packages/jaeger-ui/src/components/TracePage/useNormalizeTraceId.test.ts
  packages/jaeger-ui/src/components/TracePage/useNormalizeTraceId.ts
  packages/jaeger-ui/src/hooks/useTraceLoading.test.ts
  packages/jaeger-ui/src/hooks/useTraceLoading.ts
  packages/jaeger-ui/src/model/transform-trace-data.ts
  packages/jaeger-ui/src/utils/filter-spans.test.js
  packages/jaeger-ui/src/utils/filter-spans.ts
  packages/jaeger-ui/src/utils/trace-id.test.ts
  packages/jaeger-ui/src/utils/trace-id.ts
Due: jaeger-ui

chore(deps): update vite-plus and bundled vitest (#4125)
  package-lock.json
  package.json
  packages/jaeger-ui/package.json
  packages/plexus/package.json
  renovate.json
Due: none

feat(TracePage): Add GenAITimelineViewer view type with auto-activation (#3872)
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.test.jsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.ts
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/types.ts
Due: jaeger-ui

fix(ui): apply remaining PR feedback for genai tabs
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
Due: jaeger-ui

Refactor: Standardize KeyValuePair typing across the DDG Model (#4064)
  packages/jaeger-ui/src/model/ddg/transformDdgData.ts
  packages/jaeger-ui/src/model/ddg/types.ts
Due: jaeger-ui

fix(bug): clear trace ID input field on navigation/reload (#4135) (#4136)
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.test.jsx
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.tsx
Due: jaeger-ui

fix(deps): update react-router monorepo (#4126)
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

feat(ui): add dedicated GenAI tab with interactive JSON tree viewer for LLM span payloads
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui

Potential fix for pull request finding
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

Potential fix for pull request finding
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui

fix(ui): address copilot review feedback on SpanDetail header
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
Due: jaeger-ui

Potential fix for pull request finding
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.css
Due: jaeger-ui

fix(ui): reset tab state on span change and tighten test selectors
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
Due: jaeger-ui

feat(trace): Add HTTP status summary chips
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/summaryFieldsUtils.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/summaryFieldsUtils.ts
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/src/types/config.ts
Due: jaeger-ui

fix(heatmap): normalize percentile rank so min/max reach exactly 0/1
  packages/jaeger-ui/src/utils/span-latency-stats.test.ts
  packages/jaeger-ui/src/utils/span-latency-stats.ts
Due: jaeger-ui

fix(span-to-otlp): left-pad traceId/spanId to OTLP spec widths
  packages/jaeger-ui/src/utils/span-to-otlp.test.ts
  packages/jaeger-ui/src/utils/span-to-otlp.ts
Due: jaeger-ui

fix(SpanDetail): JSON-stringify object/array values for attribute filter
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AttributesTable.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AttributesTable.tsx
Due: jaeger-ui

feat(span): lazy-load large attributes to prevent UI stalls
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAIAttributeRenderer.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/LazyAttributeSection.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/LazyAttributeSection.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/LazyAttributeSection.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
Due: jaeger-ui

Potential fix for pull request finding
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAIAttributeRenderer.tsx
Due: jaeger-ui

refactor(span): address review comments on PR #3899
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAIAttributeRenderer.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/LazyAttributeSection.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/LazyAttributeSection.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/LazyAttributeSection.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.test.jsx
Due: jaeger-ui

Path conditions:
  jaeger-ui: any of: packages/jaeger-ui/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
  plexus: any of: packages/plexus/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
