Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

chore(deps): update dependency eslint-plugin-react-x to v5.9.0
  package-lock.json
  package.json
Due: none

chore(deps): update emnapi to v1.11.1
  package-lock.json
Due: none

chore(deps): update dependency eslint-plugin-react-x to v5.9.0 (#4071)
  package-lock.json
  package.json
Due: none

chore(deps): update emnapi to v1.11.1 (#4092)
  package-lock.json
Due: none

ci: Add workflow to fix Dependabot lockfile format
  .github/workflows/dependabot-lockfile-fix.yml
Due: none

refactor:Migrate VirtualizedTraceView to Functional Component
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: jaeger-ui

refactor:Fix VirtualizedTraceView render cycle and duplicate invocation
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: jaeger-ui

ci: Add workflow to fix Dependabot lockfile format (#4093)
  .github/workflows/dependabot-lockfile-fix.yml
Due: none

fix(ci): Add --ignore-scripts to Dependabot lockfile regeneration
  .github/workflows/dependabot-lockfile-fix.yml
Due: none

fix(ci): Add --ignore-scripts to Dependabot lockfile regeneration (#4094)
  .github/workflows/dependabot-lockfile-fix.yml
Due: none

fix(ci): Use full npm install and bump engines.npm to 11.13.0
  .github/workflows/dependabot-lockfile-fix.yml
  package.json
Due: none

ci: Pin npm version via corepack and add lockfile integrity gate
  .github/workflows/dependabot-lockfile-fix.yml
  .github/workflows/lint-build.yml
  .github/workflows/unit-tests.yml
  package.json
  scripts/check-npm-version.cjs
Due: none

fix(ci): Update remaining workflows and regenerate lockfile
  .github/workflows/check_bundle.yml
  .github/workflows/release.yml
  package-lock.json
Due: none

refactor(ci): Extract reusable setup-node composite action
  .github/actions/setup-node/action.yml
  .github/workflows/check_bundle.yml
  .github/workflows/lint-build.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
Due: none

ci: Move `npm ls --all` from unit-tests to lint workflow
  .github/workflows/lint-build.yml
  .github/workflows/unit-tests.yml
Due: none

refactor:Migrate VirtualizedTraceView to Functional Component (#4081)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: jaeger-ui

ci: Rename action to setup-node-and-deps and log node version
  .github/actions/setup-node-and-deps/action.yml
  .github/workflows/check_bundle.yml
  .github/workflows/lint-build.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
Due: none

fix(ci): Fix formatting in setup-node-and-deps action
  .github/actions/setup-node-and-deps/action.yml
Due: none

fix(ci): Use `corepack enable npm` with download prompt disabled
  .github/actions/setup-node-and-deps/action.yml
  .github/workflows/lint-build.yml
  scripts/check-npm-version.cjs
Due: none

ci: Pin npm version via corepack for deterministic lockfiles (#4096)
  .github/actions/setup-node-and-deps/action.yml
  .github/workflows/check_bundle.yml
  .github/workflows/dependabot-lockfile-fix.yml
  .github/workflows/lint-build.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  package-lock.json
  package.json
  scripts/check-npm-version.cjs
Due: none

test(trace): Cover summary fields for codecov
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SummaryFieldsBar/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/summaryFieldsUtils.test.ts
Due: jaeger-ui

refactor: move selectedSummaryFields to useLayoutPrefsStore
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/mockTrace.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.layout.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/summaryFieldsUtils.test.ts
Due: jaeger-ui

refactor(trace): Remove unused withSummaryFields class
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
Due: jaeger-ui

fix(trace): Harden summary fields persistence and search styles
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SummaryFieldsBar/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.layout.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.test.ts
Due: jaeger-ui

fix(trace): Address summary fields layout review
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SummaryFieldsBar/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/summaryFieldsUtils.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/summaryFieldsUtils.ts
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/common/vars.css
Due: jaeger-ui

Update span-graph-padding-bottom comment in vars.css
  packages/jaeger-ui/src/components/common/vars.css
Due: jaeger-ui

refactor(trace): Pass availableFields into SummaryFieldsBar
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SummaryFieldsBar/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SummaryFieldsBar/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/common/vars.css
Due: jaeger-ui

fix(trace): Strictly parse HTTP status codes for 5xx chips
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/summaryFieldsUtils.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/summaryFieldsUtils.ts
Due: jaeger-ui

fix(trace): Harden header height and summary fields storage key
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.layout.ts
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

Potential fix for pull request finding
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SummaryFieldsBar/index.tsx
Due: jaeger-ui

fix(trace): Polish summary fields bar and chip styling Space field key from coverage via CSS, remove unused separator span, and rely on component CSS instead of Tag variant props.
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SummaryFieldsBar/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SummaryFieldsBar/index.tsx
Due: jaeger-ui

fix(trace): Bound 5xx status chip check to 500-599 Reject non-HTTP codes like 600 while keeping strict integer parsing.
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/summaryFieldsUtils.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/summaryFieldsUtils.ts
Due: jaeger-ui

fix(trace): Trim summary field keys before persistence
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.layout.ts
Due: jaeger-ui

fix(search): Keep back-to-search across find and trace ID clicks (#4080)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/useServiceFilter.tsx
  packages/jaeger-ui/src/components/common/ClickToCopy.test.jsx
  packages/jaeger-ui/src/components/common/ClickToCopy.tsx
  packages/jaeger-ui/src/utils/update-ui-find.test.js
  packages/jaeger-ui/src/utils/update-ui-find.ts
Due: jaeger-ui

fix(plexus): Use currentColor for DDG edge weight labels in dark mode (#4079)
  packages/plexus/src/Digraph/SvgEdge.tsx
  packages/plexus/src/Digraph/SvgEdgesLayer.test.jsx
  packages/plexus/src/Digraph/SvgEdgesLayer.tsx
Due: plexus

chore(deps): update npm to v11.17.0
  package.json
Due: none

chore(deps): update npm to v11.17.0 (#4097)
  package.json
Due: none

fix(deps): Replace dead @pyroscope/flamegraph with d3-flame-graph
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/convertOtelTraceToFlameData.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/convertOtelTraceToFlameData.ts
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.css
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.tsx
  packages/jaeger-ui/src/types/external-modules.d.ts
  packages/jaeger-ui/vite.config.mts
  packages/jaeger-ui/vitest.config.ts
Due: jaeger-ui

feat(flamegraph): Add table view, toolbar, and search to flamegraph
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphTable.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphToolbar.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/generateTableData.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/generateTableData.ts
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.css
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.tsx
  packages/jaeger-ui/src/types/external-modules.d.ts
Due: jaeger-ui

fix(flamegraph): Correct copyright year and add component descriptions
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphTable.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/FlamegraphToolbar.tsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/generateTableData.ts
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.tsx
Due: jaeger-ui
