Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

add copilot suggestions
  packages/jaeger-ui/src/stores/trace-timeline-store.test.ts
  packages/jaeger-ui/src/stores/trace-timeline-store.ts
Due: jaeger-ui

refactor(plexus): tighten zoom util signatures
  packages/plexus/src/Digraph/HtmlLayersGroup.test.jsx
  packages/plexus/src/Digraph/NodesLayer.test.jsx
  packages/plexus/src/Digraph/SvgEdgesLayer.test.jsx
  packages/plexus/src/Digraph/SvgLayer.test.jsx
  packages/plexus/src/Digraph/SvgLayersGroup.test.jsx
  packages/plexus/src/zoom/ZoomManager.ts
  packages/plexus/src/zoom/utils.test.ts
  packages/plexus/src/zoom/utils.ts
  packages/plexus/vitest.config.ts
Due: plexus

test(plexus): add zoom utils coverage (#3716)
  packages/plexus/src/Digraph/HtmlLayersGroup.test.jsx
  packages/plexus/src/Digraph/NodesLayer.test.jsx
  packages/plexus/src/Digraph/SvgEdgesLayer.test.jsx
  packages/plexus/src/Digraph/SvgLayer.test.jsx
  packages/plexus/src/Digraph/SvgLayersGroup.test.jsx
  packages/plexus/src/zoom/ZoomManager.ts
  packages/plexus/src/zoom/utils.test.ts
  packages/plexus/src/zoom/utils.ts
  packages/plexus/vitest.config.ts
Due: plexus

fix
  docs/adr/0004-state-management-strategy.md
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailSidePanel/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailSidePanel/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.ts
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

add copilot suggestions
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.ts
Due: jaeger-ui

chore(deps): update dependency @noble/hashes to v2.2.0
  package-lock.json
  package.json
Due: none

chore(deps): update github-actions deps
  .github/workflows/lint-build.yml
  .github/workflows/s390x-build.yaml
Due: none

chore(deps): update actions/github-script action to v9
  .github/workflows/pr-quota-manager.yml
  .github/workflows/waiting-for-author.yml
Due: none

chore(deps): update actions/github-script action to v9 (#3724)
  .github/workflows/pr-quota-manager.yml
  .github/workflows/waiting-for-author.yml
Due: none

chore(deps): update github-actions deps (#3723)
  .github/workflows/lint-build.yml
  .github/workflows/s390x-build.yaml
Due: none

Optimize trace statistics grouping
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

perf: optimize TraceStatistics grouping (#3718)
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

chore(deps): update dependency @noble/hashes to v2.2.0 (#3722)
  package-lock.json
  package.json
Due: none

fix(scripts): prevent command injection in prepare-release.py
  scripts/prepare-release.py
Due: none

Avoid unused GH token fetch
  scripts/prepare-release.py
Due: none

🔒 fix command injection in prepare-release.py (#3717)
  scripts/prepare-release.py
Due: none

fix: refine release error output
  scripts/prepare-release.py
Due: none

fix: refine missing-command errors
  scripts/prepare-release.py
Due: none

fix: simplify release error handling
  scripts/prepare-release.py
Due: none

Migrate TraceSpanView to functional component (#3470)
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/calc-positioning.test.js
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

perf(test): switch Vitest pool to threads
  packages/jaeger-ui/vitest.config.ts
Due: none

Remove React. prefix from hooks and types
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

Drop unused React default import in test
  packages/plexus/src/Digraph/MeasurableNode.test.jsx
Due: plexus

Explain why useImperativeHandle is used
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

remove redundant import
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

Convert MeasurableNode to functional component (#3407)
  packages/plexus/src/Digraph/MeasurableNode.test.jsx
  packages/plexus/src/Digraph/MeasurableNode.tsx
  packages/plexus/src/Digraph/MeasurableNodes.tsx
  packages/plexus/src/Digraph/MeasurableNodesLayer.tsx
Due: plexus

perf(test): switch Vitest pool to threads (#3728)
  packages/jaeger-ui/vitest.config.ts
Due: none

fix(deps): update dependency @viz-js/viz to v3.26.0
  package-lock.json
  packages/plexus/package.json
Due: none

fix(deps): update dependency @viz-js/viz to v3.26.0 (#3730)
  package-lock.json
  packages/plexus/package.json
Due: none

renovate: enable vulnerability alerts for security PRs (#3732)
  renovate.json
Due: none

Migrate oxfmt config to vite.config.ts
  .oxfmtrc.json
  vite.config.ts
Due: none

fmt
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

fix
  package-lock.json
  package.json
  packages/jaeger-ui/package.json
  packages/plexus/package.json
Due: none

docs: update oxfmt config location in BUILD.md and ADR 0007
  BUILD.md
  docs/adr/0007-vite-plus-migration.md
Due: none

chore: group vite-plus and vitest in Renovate
  renovate.json
Due: none

fix(test): inline cookie through Vite to fix ESM named-export error
  packages/jaeger-ui/vitest.config.ts
Due: none

chore(deps): update dependency @emnapi/core to v1.10.0
  package-lock.json
Due: none

chore(deps): update dependency @emnapi/runtime to v1.10.0
  package-lock.json
Due: none

chore(deps): update step-security/harden-runner action to v2.18.0
  .github/workflows/lint-build.yml
Due: none

fix(deps): update dependency match-sorter to v8.3.0
  package-lock.json
  packages/jaeger-ui/package.json
Due: none
