Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

fix: fixed suggestions
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/index.tsx
Due: jaeger-ui

ADD:copyright and license headers
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionLinks.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionLinks.tsx
Due: jaeger-ui

fix: add TNonEmptyArray type assertion for layers useMemo
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.tsx
Due: jaeger-ui

suggestion implemented
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ReferencesButton.tsx
Due: jaeger-ui

refactor: convert ListView from class to functional component
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ListView/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ListView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: jaeger-ui

fix(test): use React.createElement in jest.mock factory
  packages/plexus/src/Digraph/Nodes.test.js
  packages/plexus/src/Digraph/Nodes.tsx
Due: plexus

test: improve React.memo test to verify actual memoization behavior
  packages/plexus/src/Digraph/SvgLayersGroup.test.js
Due: plexus

test: improve React.memo test to verify actual memoization behavior
  packages/plexus/src/Digraph/SvgLayer.test.js
Due: plexus

fix: reset _windowScrollListenerAdded flag in cleanup
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ListView/index.tsx
Due: jaeger-ui

fix: improve React.memo test verification
  packages/plexus/src/Digraph/SvgEdgesLayer.test.js
Due: plexus

refactor: convert TracePage from class to functional component
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

refactor(plexus): convert Node to functional component
  packages/plexus/src/Digraph/Node.test.js
  packages/plexus/src/Digraph/Node.tsx
Due: plexus

fix: address Copilot feedback for Node test coverage
  packages/plexus/src/Digraph/Node.test.js
Due: plexus

fix: use TMeasurableNodeHandle type instead of MeasurableNode
  packages/plexus/src/Digraph/MeasurableNodes.tsx
  packages/plexus/src/Digraph/MeasurableNodesLayer.tsx
Due: plexus

fix: address Copilot review feedback
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/index.tsx
Due: jaeger-ui

fix: restore height fallback behavior for backward compatibility
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/index.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/index.tsx
Due: jaeger-ui

refactor(TraceStatistics): convert class component to functional
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

All Copilot Suggestions
  packages/plexus/src/Digraph/index.tsx
Due: plexus

fix: improve React.memo test specificity for Digraph
  packages/plexus/src/Digraph/Digraph.test.js
Due: plexus

refactor(TracePage): add clarifying comments and improve test spy verification
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

refactor(ViewingLayer): convert class component to functional component
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.tsx
Due: jaeger-ui

fix: improve React.memo test specificity and document coverage limitations
  packages/plexus/src/Digraph/MeasurableNode.test.js
Due: plexus

test: achieve 100% coverage by testing measure() after component unmount
  packages/plexus/src/Digraph/MeasurableNode.test.js
Due: plexus

fix: address Copilot review feedback for PR #3424
  packages/plexus/src/Digraph/MeasurableNode.test.js
  packages/plexus/src/Digraph/MeasurableNode.tsx
  packages/plexus/src/Digraph/MeasurableNodesLayer.tsx
  packages/plexus/src/Digraph/Node.test.js
Due: plexus

fix: use lazy initialization for memoize-one refs to avoid unnecessary object creation
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.tsx
Due: jaeger-ui

fix: address maintainer feedback on MeasurableNode refactor
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

fix: add uiFindMatches to useMemo dependency array for explicit deps
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.tsx
Due: jaeger-ui

perf: move nodeRenderers inside useMemo for optimal memoization
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.tsx
Due: jaeger-ui

fix: align copyright headers in test files with plexus convention
  packages/plexus/src/Digraph/MeasurableNode.test.js
  packages/plexus/src/Digraph/Node.test.js
Due: plexus

fix: remove stable refs from dependency arrays
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.tsx
Due: jaeger-ui

fix: address Copilot review comments in TraceStatistics
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

fix: minor code clarity improvements in TraceStatistics
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

fix(plexus): fix TypeScript error with React.memo generic component
  packages/plexus/src/Digraph/MeasurableNodes.tsx
Due: plexus

test(ListView): improve test coverage to 98%
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ListView/index.test.js
Due: jaeger-ui

remove tests and is limited to refactoring only
  packages/plexus/src/Digraph/MeasurableNodesLayer.test.js
Due: plexus

fix(TraceStatistics): clone array before mutation to preserve React immutability
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

Add PR quota workflow
  .github/workflows/pr-quota-manager.yml
Due: none

Add PR quota workflow (#3441)
  .github/workflows/pr-quota-manager.yml
Due: none

remove linting errors
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ListView/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ListView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: jaeger-ui

Some minor dependency fixes in hooks
  packages/jaeger-ui/src/components/DeepDependencies/index.test.js
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
Due: jaeger-ui
