Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

fix(api/v3): Retain spans without start times
  packages/jaeger-ui/src/api/v3/parser.test.ts
  packages/jaeger-ui/src/api/v3/parser.ts
  packages/jaeger-ui/src/model/trace-summary.ts
  packages/jaeger-ui/src/types/otel.ts
Due: jaeger-ui

fix(api/v3): Use earliest root for trace metadata
  packages/jaeger-ui/src/api/v3/parser.test.ts
  packages/jaeger-ui/src/api/v3/parser.ts
  packages/jaeger-ui/src/model/test/trace-contract-suite.js
  packages/jaeger-ui/src/model/trace-summary.ts
  packages/jaeger-ui/src/types/otel.ts
Due: jaeger-ui

fix(api/v3): Match merged fallback contracts
  packages/jaeger-ui/src/api/v3/parser.test.ts
  packages/jaeger-ui/src/api/v3/parser.ts
Due: jaeger-ui

test(api/v3): Run shared trace contract suite
  docs/rfc/0002-otel-native-jaeger-ui.md
  packages/jaeger-ui/src/api/v3/parser.test.ts
  packages/jaeger-ui/src/api/v3/parser.ts
Due: jaeger-ui

fix(api/v3): Repair zero event timestamps
  packages/jaeger-ui/src/api/v3/parser.test.ts
  packages/jaeger-ui/src/api/v3/parser.ts
Due: jaeger-ui

chore(deps): update dependency @tanstack/react-query to v5.104.1
  pnpm-lock.yaml
Due: none

fix: to validates invalid JSON trace files in Upload (#4431)
  packages/jaeger-ui/src/utils/readJsonFile.test.js
  packages/jaeger-ui/src/utils/readJsonFile.ts
Due: jaeger-ui

perf(spanview): Use Set lookups in TraceSpanView filter (#4318)
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

chore(plexus): Use DedicatedWorkerGlobalScope in layout worker (#4319)
  packages/plexus/src/LayoutManager/layout.worker.ts
Due: plexus

fix(analytics): Preserve zero event values (#4283)
  packages/jaeger-ui/src/utils/tracking/ga.test.js
  packages/jaeger-ui/src/utils/tracking/ga.ts
Due: jaeger-ui

test(config): remove ignored root-level server.deps block from vitest config (#4187)
  packages/jaeger-ui/vitest.config.ts
Due: none

Fix Ask Jaeger treating plain words as trace IDs
  packages/jaeger-ui/src/utils/trace-id.test.ts
  packages/jaeger-ui/src/utils/trace-id.ts
Due: jaeger-ui

Add regression test for Ask Jaeger word input
  packages/jaeger-ui/src/components/App/JaegerAskSearchInput.test.jsx
Due: jaeger-ui

docs(rfc): Remove parser review-status wording
  docs/rfc/0002-otel-native-jaeger-ui.md
Due: none

refactor(tracepage): generalize scroll-page for element containers (#4158)
  packages/jaeger-ui/src/components/TracePage/scroll-page.test.js
  packages/jaeger-ui/src/components/TracePage/scroll-page.ts
Due: jaeger-ui

refactor(TraceStatistics): Migrate to functional component (#4483)
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

fix(ui): resolve infinite polling bug and update useTraces
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/hooks/useTraceLoading.test.ts
  packages/jaeger-ui/src/hooks/useTraceLoading.ts
Due: jaeger-ui

fix(stats): Match Without Tag sub-rows on the Group By key
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.ts
Due: jaeger-ui

chore(deps): update dependency testcontainers to v12.2.0
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  jaeger-ui: any of: packages/jaeger-ui/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
  plexus: any of: packages/plexus/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
