Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

fix(deps): Preserve pnpm 11 overrides
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-overrides.sh
Due: none

chore(deps): update pnpm to v11 (#4269)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-overrides.sh
Due: none

fix(deps): update dependency markdown-to-jsx to v9.9.0
  packages/jaeger-ui/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency recharts to v3.10.0
  packages/jaeger-ui/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @testing-library/jest-dom to v7
  packages/jaeger-ui/package.json
  packages/plexus/package.json
  pnpm-lock.yaml
Due: none

fix(api/v3): include response body in error messages
  CLAUDE.md
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/api/v3/client.ts
Due: jaeger-ui

docs(rfc): Annotate how the delivered Zustand stores diverge from RFC 0006 (#4276)
  docs/rfc/0006-target-state-management-architecture.md
Due: none

fix(graph): rebuild parent-child map per trace to fix stale self-time
  packages/jaeger-ui/src/components/TracePage/TraceGraph/calculateTraceDagEV.ts
Due: jaeger-ui

fix(link-formatting): Add missing return in pad_start NaN guard
  packages/jaeger-ui/src/utils/link-formatting.ts
Due: jaeger-ui

fix(v3-client): Guard trace summary timestamp params against out-of-range Date
  packages/jaeger-ui/src/api/v3/client.ts
Due: jaeger-ui

fix(date): Prevent incorrect partial rounding-up of durations (#4247)
  packages/jaeger-ui/src/utils/date.test.js
  packages/jaeger-ui/src/utils/date.ts
Due: jaeger-ui

fix(deps): update opentelemetry
  packages/jaeger-ui/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update opentelemetry (#4297)
  packages/jaeger-ui/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @testing-library/jest-dom to v7 (#4298)
  packages/jaeger-ui/package.json
  packages/plexus/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency recharts to v3.10.0 (#4296)
  packages/jaeger-ui/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency markdown-to-jsx to v9.9.0 (#4295)
  packages/jaeger-ui/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency knip to v6.29.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency less to v4.8.0
  packages/jaeger-ui/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency less to v4.8.0 (#4294)
  packages/jaeger-ui/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency knip to v6.29.0 (#4293)
  package.json
  pnpm-lock.yaml
Due: none

Make TimelineCollapser buttons accessible
  .gitignore
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineCollapser.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineCollapser.tsx
Due: jaeger-ui

chore(deps): update dependency vite-plus to v0.2.7
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint-plugin-react-x to v5.18.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency lint-staged to v17.2.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v11.17.0
  package.json
Due: none

fix(deps): update dependency markdown-to-jsx to v9.10.1
  packages/jaeger-ui/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency vite-plus to v0.2.7 (#4305)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v11.17.0 (#4309)
  package.json
Due: none

chore(deps): update dependency eslint-plugin-react-x to v5.18.0 (#4306)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency lint-staged to v17.2.0 (#4308)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency knip to v6.31.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency knip to v6.31.0 (#4307)
  package.json
  pnpm-lock.yaml
Due: none

feat(genai): hide infrastructure services in logical view
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/LogicalViewToggle/LogicalViewToggle.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/LogicalViewToggle/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/LogicalViewToggle/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.timeline.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/useServiceFilter.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/url/svcFilter.test.ts
  packages/jaeger-ui/src/components/TracePage/url/svcFilter.ts
  packages/jaeger-ui/src/utils/genai/detect.test.ts
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui

perf(trace-diff): Stabilize TraceDiffHeader props to avoid unnecessary re-renders
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.test.jsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.tsx
Due: jaeger-ui

feat(genai-tab): Render image and audio attachments inline
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/message-format-store.ts
  packages/jaeger-ui/src/utils/media.test.ts
  packages/jaeger-ui/src/utils/media.ts
Due: jaeger-ui

fix(trace): Render traces whose spans form a parent cycle
  packages/jaeger-ui/src/model/transform-trace-data.test.js
  packages/jaeger-ui/src/model/transform-trace-data.ts
Due: jaeger-ui

docs(rfc-0002): correct span.kind wire format in code sketches
  docs/rfc/0002-otel-native-jaeger-ui.md
Due: none

perf(spanview): Use Set lookups in TraceSpanView filter
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

refactor(timeline): Simplify SpanTreeOffset to accept precomputed ancestor data
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/PrunedSpanRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailRow.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.tsx
Due: jaeger-ui

chore(plexus): Use DedicatedWorkerGlobalScope in layout worker
  packages/plexus/src/LayoutManager/layout.worker.ts
Due: plexus

Path conditions:
  jaeger-ui: any of: packages/jaeger-ui/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
  plexus: any of: packages/plexus/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
