Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

feat(genai): pre-configure service filter with GenAI services on trace load
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/useServiceFilter.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/useServiceFilter.tsx
  packages/jaeger-ui/src/utils/genai/detect.test.ts
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui

feat(genai): show token usage badge on LLM spans in trace timeline
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/GenAITokenBadge.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/GenAITokenBadge.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx
Due: jaeger-ui

UiFindInput: make clear button keyboard-accessible
  packages/jaeger-ui/src/components/common/UiFindInput.test.jsx
  packages/jaeger-ui/src/components/common/UiFindInput.tsx
Due: jaeger-ui

fix(jaeger-ui): resolve CI failures for span decorations
  packages/jaeger-ui/docs/span-decorations.md
  packages/jaeger-ui/jaeger-ui.config.example.json
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.test.jsx
  packages/jaeger-ui/src/components/common/IconProvider.tsx
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/src/model/span-decorations.ts
  packages/jaeger-ui/src/types/config.ts
  packages/jaeger-ui/src/utils/config/get-config.ts
Due: jaeger-ui

feat(SpanDetail): add rich-media rendering for GenAI attributes
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAIAttributeRenderer.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAIAttributeRenderer.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui/src/utils/genai/detect.test.ts
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui

refactor(tracediff): Encapsulate URL path splitting logic
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.tsx
  packages/jaeger-ui/src/components/TraceDiff/url.test.js
  packages/jaeger-ui/src/components/TraceDiff/url.ts
Due: jaeger-ui

refactor(genai): Reuse rich-attribute keys from detect utility
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionGenAIAttributes.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionGenAIAttributes.tsx
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui

fix(ui): improve Trace Statistics dark mode readability and add relative bars (#3322)
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/PopupSql.css
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/TraceStatisticsHeader.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/TraceStatisticsHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateColor.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateColor.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.css
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/types.ts
Due: jaeger-ui

feat(SpanDetail): display span.kind as badge in overview header
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
Due: jaeger-ui

feat(TracePage): add GenAI view type and detection banner
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/types.ts
Due: jaeger-ui

feat(trace): add decorative span type icons in tree view
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui/src/utils/span-icons.test.ts
  packages/jaeger-ui/src/utils/span-icons.ts
Due: jaeger-ui

feat(ui): Auto-detect URL prefix from window.location at page load
  packages/jaeger-ui/index.html
  packages/jaeger-ui/src/utils/detect-base-path.test.ts
  packages/jaeger-ui/src/utils/detect-base-path.ts
Due: jaeger-ui

fix(ui): Use rightmost sub-path match; add XSS escaping; enforce route coverage
  packages/jaeger-ui/index.html
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/utils/detect-base-path.test.ts
  packages/jaeger-ui/src/utils/detect-base-path.ts
Due: jaeger-ui

refactor(ui): Test inline script directly via eval; move test next to index.html
  packages/jaeger-ui/index.test.ts
  packages/jaeger-ui/src/utils/detect-base-path.test.ts
  packages/jaeger-ui/src/utils/detect-base-path.ts
  packages/jaeger-ui/vitest.config.ts
Due: jaeger-ui

fix(ui): Include root-level *.ts files in tsconfig so index.test.ts gets vitest globals
  packages/jaeger-ui/tsconfig.json
Due: none

fix
  packages/jaeger-ui/index.html
Due: none

fix(ui): Address review comments on base-path detection
  packages/jaeger-ui/index.html
  packages/jaeger-ui/index.test.ts
  packages/jaeger-ui/src/components/App/index.tsx
Due: jaeger-ui

fix(ui): Apply formatter to index.html
  packages/jaeger-ui/index.html
Due: none

fix(ui): Remove BASE_PATH_DETECT marker; identify script by data-inject-target attribute
  packages/jaeger-ui/index.html
  packages/jaeger-ui/index.test.ts
Due: none

fix(ui): Name index.test.ts explicitly instead of *.ts glob
  packages/jaeger-ui/tsconfig.json
  packages/jaeger-ui/vitest.config.ts
Due: none

fix(ui): Fall back to parent directory for unknown routes in base-path detection
  packages/jaeger-ui/index.html
  packages/jaeger-ui/index.test.ts
Due: none

feat(ui): Show fallback message when SPA fails to mount; fix unknown-route base path
  packages/jaeger-ui/README.md
  packages/jaeger-ui/index.html
  packages/jaeger-ui/index.test.ts
Due: none

refactor(ui): Strip invalid path characters instead of HTML-encoding them
  packages/jaeger-ui/index.html
Due: none

fix
  packages/jaeger-ui/README.md
Due: none

feat(ui): Auto-detect URL prefix from window.location at page load (#3874)
  packages/jaeger-ui/README.md
  packages/jaeger-ui/index.html
  packages/jaeger-ui/index.test.ts
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/tsconfig.json
  packages/jaeger-ui/vitest.config.ts
Due: jaeger-ui

perf(spanview): Use Set lookups in TraceSpanView filter
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

perf(spanview): Address Copilot review
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
Due: jaeger-ui

fix(plexus): Reset Digraph layout on prop changes and remove key hacks
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffGraph/TraceDiffGraph.tsx
  packages/plexus/src/Digraph/index.test.tsx
  packages/plexus/src/Digraph/index.tsx
Due: jaeger-ui, plexus

fix(plexus): Add layout versioning to prevent race conditions
  packages/plexus/src/Digraph/index.tsx
Due: plexus

fix(plexus): Reset zoom on NoData and improve test coverage
  packages/plexus/src/Digraph/index.test.tsx
  packages/plexus/src/Digraph/index.tsx
Due: plexus

perf(plexus): Remove redundant setState in Digraph
  packages/plexus/src/Digraph/index.test.tsx
  packages/plexus/src/Digraph/index.tsx
Due: plexus

feat(ui): Wire app-query-client into the root App component
  docs/adr/0002-otlp-api-v3-migration.md
  packages/jaeger-ui/src/components/App/index.test.jsx
Due: jaeger-ui

fix(ui): Make SpanDetail header responsive in Side Panel mode
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.tsx
Due: jaeger-ui

Copilot Ftw(?)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/index.css
Due: jaeger-ui

Revert "Add environment checks to prepare-release target (#3512)"
  Makefile
Due: none

Revert "Add environment checks to prepare-release target (#3512)" (#3880)
  Makefile
Due: none

Prepare release v2.18.0
  CHANGELOG.md
  packages/jaeger-ui/package.json
Due: none

fix
  CHANGELOG.md
Due: none

Prepare release v2.18.0 (#3881)
  CHANGELOG.md
  packages/jaeger-ui/package.json
Due: none
