Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

fix
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/KeyboardShortcutsHelp.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/KeyboardShortcutsHelp.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
Due: jaeger-ui

[ADR-0006] Phase 1: Layout mode state and toggle controls (#3558)
  docs/adr/0006-side-panel-span-details.md
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/KeyboardShortcutsHelp.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/KeyboardShortcutsHelp.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.css
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/constants/default-config.ts
  packages/jaeger-ui/src/types/TTraceTimeline.ts
  packages/jaeger-ui/src/types/config.ts
Due: jaeger-ui

[ADR-0006] Phase 2: Tree-Only Mode (Hide Timeline)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailRow.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
Due: jaeger-ui

feat: add Trace Logs view to aggregate all span events
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.css
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.ts
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/types.ts
Due: jaeger-ui

test: update existing tests for Trace Logs view
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.test.js
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailRow.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/types/TTraceTimeline.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix: address review feedback for Trace Logs view
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.css
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.tsx
Due: jaeger-ui

Apply suggestion from @yurishkuro
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.tsx
Due: jaeger-ui

Update index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.test.js
Due: jaeger-ui

Prepare release v2.16.0
  CHANGELOG.md
  packages/jaeger-ui/package.json
Due: none

Fix
  CHANGELOG.md
Due: none

Update packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.tsx
Due: jaeger-ui

Update index.css
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.css
Due: jaeger-ui

Prepare release v2.16.0 (#3564)
  CHANGELOG.md
  packages/jaeger-ui/package.json
Due: none

refactor(plexus): migrate SvgDefEntry to functional component (#3395) (#3528)
  packages/plexus/src/Digraph/SvgDefEntry.tsx
Due: plexus

[ADR-0006] Phase 2: Tree-Only Mode (Hide Timeline) (#3562)
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TraceViewSettings.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailRow.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/types/TTraceTimeline.ts
Due: jaeger-ui

chore: fetch backend config dynamically in dev mode (#3541)
  packages/jaeger-ui/vite.config.mts
Due: none

Migrate route definitions to React Router v6 syntax
  packages/jaeger-ui/src/components/App/TraceRouter.test.js
  packages/jaeger-ui/src/components/App/TraceRouter.tsx
  packages/jaeger-ui/src/components/App/index.test.js
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/index.test.js
  packages/jaeger-ui/src/components/Monitor/index.test.js
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.tsx
  packages/jaeger-ui/src/utils/withRouteProps.test.js
  packages/jaeger-ui/src/utils/withRouteProps.tsx
Due: jaeger-ui

increase coverage
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.test.js
Due: jaeger-ui

refactor(plexus): migrate SvgEdges to functional component (#3397)
  packages/plexus/src/Digraph/SvgEdges.tsx
Due: plexus

refactor(plexus): migrate Node to functional component (#3392)
  packages/plexus/src/Digraph/Node.tsx
Due: plexus

test: improve code coverage for TraceLogsView
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.test.js
Due: jaeger-ui

refactor(plexus): migrate Digraph to functional component
  package-lock.json
  packages/plexus/package.json
  packages/plexus/src/Digraph/index.test.tsx
  packages/plexus/src/Digraph/index.tsx
Due: plexus

fix: System Architecture (DAG) dark mode visibility
  packages/jaeger-ui/src/components/DependencyGraph/dag.css
Due: jaeger-ui

edit comment
  packages/jaeger-ui/src/components/App/TraceRouter.tsx
Due: jaeger-ui

fix: System Architecture (DAG) dark mode visibility (#3568)
  packages/jaeger-ui/src/components/DependencyGraph/dag.css
Due: jaeger-ui

refactor(plexus): migrate MeasurableNodes to functional component
  packages/plexus/src/Digraph/MeasurableNodes.test.tsx
  packages/plexus/src/Digraph/MeasurableNodes.tsx
Due: plexus

add comment
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.tsx
Due: jaeger-ui

Phase 1: Migrate route definitions to React Router v6 syntax (#3565)
  packages/jaeger-ui/src/components/App/TraceRouter.test.js
  packages/jaeger-ui/src/components/App/TraceRouter.tsx
  packages/jaeger-ui/src/components/App/index.test.js
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/index.test.js
  packages/jaeger-ui/src/components/Monitor/index.test.js
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.test.js
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.tsx
  packages/jaeger-ui/src/utils/withRouteProps.test.js
  packages/jaeger-ui/src/utils/withRouteProps.tsx
Due: jaeger-ui

test: fix toggle coverage for TraceLogsView
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.test.js
Due: jaeger-ui

[Feature]: Add Trace Logs view to aggregate all span events (#3563)
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.css
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/AltViewOptions.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.track.ts
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/types.ts
Due: jaeger-ui

refactor(plexus): migrate MeasurableNodes to functional component (#3533)
  packages/plexus/src/Digraph/MeasurableNodes.test.tsx
  packages/plexus/src/Digraph/MeasurableNodes.tsx
Due: plexus

render DAG edges from span links in Trace Graph
  packages/jaeger-ui/src/components/TracePage/TraceGraph/calculateTraceDagEV.test.js
  packages/jaeger-ui/src/components/TracePage/TraceGraph/testTrace.json
  packages/jaeger-ui/src/model/trace-dag/DenseTrace.ts
  packages/jaeger-ui/src/model/trace-dag/convPlexus.test.ts
  packages/jaeger-ui/src/model/trace-dag/convPlexus.ts
  packages/jaeger-ui/src/model/trace-dag/types/index.ts
Due: jaeger-ui

[ADR-0006] Phase 3: Side Panel Container and Span Selection
  AGENTS.md
  CLAUDE.md
  docs/adr/0006-side-panel-span-details.md
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailSidePanel/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailSidePanel/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailSidePanel/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
Due: jaeger-ui
