Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

Pin npm version
  .nvmrc
  package.json
Due: none

Fix lockfile regeneration
  package-lock.json
Due: none

fix
  .nvmrc
Due: none

fix
  .github/workflows/check_bundle.yml
  .github/workflows/lint-build.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
Due: none

Fix unit test CI
  package-lock.json
  packages/plexus/package.json
Due: none

Pin npm version (#3596)
  .github/workflows/check_bundle.yml
  .github/workflows/lint-build.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  package.json
Due: none

Fix Dependabot security alerts (#3594)
  package-lock.json
  package.json
  packages/jaeger-ui/package.json
  packages/plexus/package.json
Due: none

fix(deps): update dependency react-router-dom to v7
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

Update packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/api/v3/client.ts
Due: jaeger-ui

chore: test fetchBackendConfig and fix capabilities override
  packages/jaeger-ui/package.json
  packages/jaeger-ui/vite.config.mts
Due: none

implelement copilot suggestions
  packages/jaeger-ui/src/components/DependencyGraph/index.test.js
  packages/jaeger-ui/src/components/DependencyGraph/index.tsx
Due: jaeger-ui

refactor(plexus): address maintainer review on Digraph functional component
  packages/plexus/src/Digraph/index.test.tsx
  packages/plexus/src/Digraph/index.tsx
Due: plexus

refactor(plexus): fix test issues from Copilot review
  packages/plexus/src/Digraph/index.test.tsx
Due: plexus

fix(plexus): add ZoomManager.dispose() and useEffect cleanup for zoom teardown
  packages/plexus/src/Digraph/index.tsx
  packages/plexus/src/zoom/ZoomManager.ts
Due: plexus

refactor(plexus): address Copilot feedback on Digraph tests and ZoomManager
  packages/plexus/src/Digraph/index.test.tsx
  packages/plexus/src/Digraph/index.tsx
  packages/plexus/src/zoom/ZoomManager.ts
Due: plexus

fix: restore local storageCapabilities fallback when backend unavailable
  packages/jaeger-ui/vite.config.mts
Due: none

docs: fix inaccurate precedence comment after storageCapabilities fallback
  packages/jaeger-ui/vite.config.mts
Due: none

chore: restore package-lock.json to match upstream main
  package-lock.json
Due: none

chore: sync package-lock.json with upstream jaegertracing/main
  package-lock.json
Due: none

Pin PR quota script source
  .github/workflows/pr-quota-manager.yml
Due: none

chore: fetch backend config dynamically in dev mode (#3541) (#3561)
  packages/jaeger-ui/package.json
  packages/jaeger-ui/vite.config.mts
Due: none

refactor(plexus): migrate Digraph to functional component (#3534)
  packages/plexus/package.json
  packages/plexus/src/Digraph/index.test.tsx
  packages/plexus/src/Digraph/index.tsx
  packages/plexus/src/zoom/ZoomManager.ts
Due: plexus

chore: add AbortController timeout to fetchBackendConfig in dev mode
  packages/jaeger-ui/vite.config.mts
Due: none

fix: prevent concurrent fetchBackendConfig calls from racing
  packages/jaeger-ui/vite.config.mts
Due: none

Revert "chore: fetch backend config dynamically in dev mode (#3541) (#3561)"
  packages/jaeger-ui/package.json
  packages/jaeger-ui/vite.config.mts
Due: none

Revert "chore: fetch backend config dynamically in dev mode (#3541)" (#3599)
  packages/jaeger-ui/package.json
  packages/jaeger-ui/vite.config.mts
Due: none

Revert "refactor(plexus): migrate Digraph to functional component (#3534)"
  packages/plexus/package.json
  packages/plexus/src/Digraph/index.test.tsx
  packages/plexus/src/Digraph/index.tsx
  packages/plexus/src/zoom/ZoomManager.ts
Due: plexus

Revert "refactor(plexus): migrate Digraph to functional component" (#3600)
  packages/plexus/package.json
  packages/plexus/src/Digraph/index.test.tsx
  packages/plexus/src/Digraph/index.tsx
  packages/plexus/src/zoom/ZoomManager.ts
Due: plexus

chore: minor updates addressing #3386
  README.md
Due: none

Phase 3.2 (task 2): refactor(DependencyGraph): convert class component to functional (#3591)
  packages/jaeger-ui/src/components/DependencyGraph/index.test.js
  packages/jaeger-ui/src/components/DependencyGraph/index.tsx
Due: jaeger-ui

refactor: migrate DeepDependencies to functional component
  packages/jaeger-ui/src/components/DeepDependencies/index.test.js
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
Due: jaeger-ui

Remove dead searchUrl prop
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

Part of Phase 3.2 (task 2): Remove dead searchUrl prop (#3603)
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix(TracePage): fix stale filterSpans cache key and remove dead code (#3592)
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix: replace _get with optional chaining in embedded reducer
  packages/jaeger-ui/src/reducers/embedded.ts
Due: jaeger-ui

fix: Remove unsafe use of _get()
  packages/jaeger-ui/src/actions/path-agnostic-decorations.ts
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffGraph/traceDiffGraphUtils.ts
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.tsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/model/path-agnostic-decorations/index.tsx
Due: jaeger-ui

Remove unsafe use of lodash _get()
  packages/jaeger-ui/src/actions/path-agnostic-decorations.ts
  packages/jaeger-ui/src/components/DeepDependencies/SidePanel/DetailsPanel.tsx
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/traces.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffGraph/traceDiffGraphUtils.ts
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.tsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/model/path-agnostic-decorations/index.tsx
  packages/jaeger-ui/src/reducers/embedded.ts
  packages/jaeger-ui/src/types/config.ts
  packages/jaeger-ui/src/types/index.ts
  packages/jaeger-ui/src/utils/DraggableManager/DraggableManager.ts
  packages/jaeger-ui/src/utils/config/process-deprecation.ts
  packages/jaeger-ui/src/utils/plexus/set-on-graph.ts
  packages/jaeger-ui/src/utils/tracking/ga.ts
Due: jaeger-ui
