Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

chore(deps): update dependency @emnapi/core to v1.10.0 (#3736)
  package-lock.json
Due: none

chore(deps): update step-security/harden-runner action to v2.18.0 (#3738)
  .github/workflows/lint-build.yml
Due: none

fix(ui): sort services alphabetically #3733
  packages/jaeger-ui/src/hooks/useTraceDiscovery.test.ts
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
Due: jaeger-ui

fix(SearchForm): sort services alphabetically in the dropdown
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
Due: jaeger-ui

change import/export
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
Due: jaeger-ui

split TraceTimelineViewer store into layout prefs and timeline state
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.constants.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.layout.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.timeline.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/timeline-utils.ts
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

chore(deps): update dependency @emnapi/runtime to v1.10.0 (#3737)
  package-lock.json
Due: none

fix(test): inline all deps through Vite to fix threads pool ESM interop
  packages/jaeger-ui/vitest.config.ts
Due: none

fix
  AGENTS.md
Due: none

fix(test): Inline all deps through Vite to fix threads pool ESM interop (#3741)
  AGENTS.md
  packages/jaeger-ui/vitest.config.ts
Due: none

fix(deps): update dependency match-sorter to v8.3.0 (#3739)
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

refactor: sort services inside useServices hook
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
Due: jaeger-ui

fix(ui): Sort services alphabetically (#3734)
  packages/jaeger-ui/src/hooks/useTraceDiscovery.test.ts
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
Due: jaeger-ui

Part of Phase1 (Sub-2-1c): migrate collapse/expand and detail state to Zustand (#3721)
  docs/adr/0004-state-management-strategy.md
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailSidePanel/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetailSidePanel/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.constants.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.layout.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.timeline.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/timeline-utils.ts
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/stores/trace-timeline-store.test.ts
Due: jaeger-ui

chore: Add knip; remove 4 unused devDependencies
  knip.json
  package-lock.json
  package.json
Due: none

chore: Convert knip.json to knip.config.ts with inline comments
  BUILD.md
  CONTRIBUTING.md
  knip.config.ts
  knip.json
Due: none

docs: Fix coverage command example in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix
  AGENTS.md
  CONTRIBUTING.md
Due: none

fix
  knip.config.ts
Due: none

chore: Add knip; remove 4 unused devDependencies (#3742)
  AGENTS.md
  BUILD.md
  CONTRIBUTING.md
  knip.config.ts
  package-lock.json
  package.json
Due: none

chore: Fix knip dead-code warnings
  packages/jaeger-ui/src/components/App/index.dev.test.jsx
  packages/jaeger-ui/src/components/App/index.test.jsx
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/index.tsx
  packages/jaeger-ui/src/components/DependencyGraph/DAG.test.jsx
  packages/jaeger-ui/src/components/DependencyGraph/DAG.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.tsx
  packages/jaeger-ui/src/components/QualityMetrics/index.test.jsx
  packages/jaeger-ui/src/components/QualityMetrics/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItemTitle.tsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/types.ts
  packages/jaeger-ui/src/components/common/ActionMenu/ActionMenu.test.jsx
  packages/jaeger-ui/src/components/common/ActionMenu/ActionsMenu.tsx
  packages/jaeger-ui/src/components/common/TraceId.tsx
  packages/jaeger-ui/src/hooks/useOtelSpan.ts
  packages/jaeger-ui/src/hooks/useOtelTrace.ts
  packages/jaeger-ui/src/selectors/otel.ts
  packages/plexus/src/Digraph/types.ts
Due: jaeger-ui, plexus

fix
  knip.config.ts
  packages/jaeger-ui/src/components/App/index.dev.test.jsx
  packages/jaeger-ui/src/components/App/index.test.jsx
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/index.tsx
  packages/jaeger-ui/src/components/DependencyGraph/DAG.test.jsx
  packages/jaeger-ui/src/components/DependencyGraph/DAG.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.tsx
  packages/jaeger-ui/src/components/QualityMetrics/index.test.jsx
  packages/jaeger-ui/src/components/QualityMetrics/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItemTitle.tsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/common/ActionMenu/ActionMenu.test.jsx
  packages/jaeger-ui/src/components/common/ActionMenu/ActionsMenu.tsx
  packages/jaeger-ui/src/components/common/TraceId.test.jsx
  packages/jaeger-ui/src/components/common/TraceId.tsx
Due: jaeger-ui

fix
  knip.config.ts
  packages/jaeger-ui/src/components/DependencyGraph/DAG.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.tsx
Due: jaeger-ui

chore: Fix knip dead-code warnings (#3743)
  packages/jaeger-ui/src/components/DependencyGraph/DAG.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.tsx
  packages/jaeger-ui/src/components/QualityMetrics/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/types.ts
  packages/jaeger-ui/src/components/common/ActionMenu/ActionsMenu.tsx
  packages/jaeger-ui/src/components/common/TraceId.test.jsx
  packages/jaeger-ui/src/components/common/TraceId.tsx
  packages/jaeger-ui/src/hooks/useOtelSpan.ts
  packages/jaeger-ui/src/hooks/useOtelTrace.ts
  packages/jaeger-ui/src/selectors/otel.ts
  packages/plexus/src/Digraph/types.ts
Due: jaeger-ui, plexus

chore: Unexport 32 types not imported outside their own file
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/QualityMetrics/BannerText.tsx
  packages/jaeger-ui/src/components/QualityMetrics/CountCard.tsx
  packages/jaeger-ui/src/components/QualityMetrics/MetricCard.tsx
  packages/jaeger-ui/src/components/QualityMetrics/ScoreCard.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ScatterPlot.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/types.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/timeline-utils.ts
  packages/jaeger-ui/src/components/common/FilteredList/index.tsx
  packages/jaeger-ui/src/components/common/SearchableSelect.tsx
  packages/jaeger-ui/src/model/trace-viewer.ts
  packages/jaeger-ui/src/stores/archive-store.ts
  packages/jaeger-ui/src/stores/trace-diff-store.ts
  packages/jaeger-ui/src/types/archive.ts
  packages/jaeger-ui/src/types/index.ts
  packages/jaeger-ui/src/types/metrics.ts
  packages/jaeger-ui/src/types/tracking.ts
  packages/plexus/src/Digraph/Node.tsx
  packages/plexus/src/types/TOneOf.ts
Due: jaeger-ui, plexus

chore: Unexport 32 types not imported outside their own file (#3744)
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/QualityMetrics/BannerText.tsx
  packages/jaeger-ui/src/components/QualityMetrics/CountCard.tsx
  packages/jaeger-ui/src/components/QualityMetrics/MetricCard.tsx
  packages/jaeger-ui/src/components/QualityMetrics/ScoreCard.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ScatterPlot.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/types.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/timeline-utils.ts
  packages/jaeger-ui/src/components/common/FilteredList/index.tsx
  packages/jaeger-ui/src/components/common/SearchableSelect.tsx
  packages/jaeger-ui/src/model/trace-viewer.ts
  packages/jaeger-ui/src/stores/archive-store.ts
  packages/jaeger-ui/src/stores/trace-diff-store.ts
  packages/jaeger-ui/src/types/archive.ts
  packages/jaeger-ui/src/types/index.ts
  packages/jaeger-ui/src/types/metrics.ts
  packages/jaeger-ui/src/types/tracking.ts
  packages/plexus/src/Digraph/Node.tsx
  packages/plexus/src/types/TOneOf.ts
Due: jaeger-ui, plexus

chore: Fix all knip unused-export warnings; enable failure mode
  knip.config.ts
  package.json
  packages/jaeger-ui/src/actions/path-agnostic-decorations.ts
  packages/jaeger-ui/src/api/jaeger.ts
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/node-icons.tsx
  packages/jaeger-ui/src/components/DeepDependencies/index.track.ts
  packages/jaeger-ui/src/components/DependencyGraph/index.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.tsx
  packages/jaeger-ui/src/components/PlexusDemo/url.ts
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.track.ts
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/DiffSelection.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ScatterPlot.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.track.ts
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/CohortTable.tsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/OpNode.tsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.tsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/calculateTraceDagEV.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.ts
  packages/jaeger-ui/src/components/TracePage/index.track.ts
  packages/jaeger-ui/src/components/common/ExternalLinks.tsx
  packages/jaeger-ui/src/constants/index.ts
  packages/jaeger-ui/src/constants/tag-keys.ts
  packages/jaeger-ui/src/model/trace-viewer.ts
  packages/jaeger-ui/src/query/app-query-client.tsx
  packages/jaeger-ui/src/utils/color-generator.ts
  packages/jaeger-ui/src/utils/embedded-url.ts
  packages/jaeger-ui/src/utils/test/requestAnimationFrame.js
  packages/plexus/src/LayoutManager/dot/conv-coord.ts
  packages/plexus/src/cacheAs.ts
  packages/plexus/src/types/TOneOf.ts
  packages/plexus/src/zoom/MiniMap.tsx
Due: jaeger-ui, plexus

fix
  packages/jaeger-ui/src/components/DeepDependencies/index.track.test.js
  packages/jaeger-ui/src/components/DeepDependencies/index.track.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/DeepDependencies/index.track.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.track.ts
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/DiffSelection.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.track.test.js
  packages/jaeger-ui/src/components/TracePage/index.track.test.js
  packages/jaeger-ui/src/components/TracePage/index.track.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.track.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.track.ts
Due: jaeger-ui

fix(lint): Pass children as arg, promote no-children-prop to error
  .oxlintrc.json
  packages/jaeger-ui/src/hooks/useConfig.test.ts
Due: jaeger-ui

chore: Fix all knip unused-export warnings; enable failure mode (#3745)
  knip.config.ts
  package.json
  packages/jaeger-ui/src/actions/path-agnostic-decorations.ts
  packages/jaeger-ui/src/api/jaeger.ts
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/node-icons.tsx
  packages/jaeger-ui/src/components/DeepDependencies/index.track.test.js
  packages/jaeger-ui/src/components/DependencyGraph/index.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.tsx
  packages/jaeger-ui/src/components/PlexusDemo/url.ts
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.track.ts
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/DiffSelection.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ScatterPlot.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.track.ts
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/CohortTable.tsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/OpNode.tsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.tsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/calculateTraceDagEV.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/store.ts
  packages/jaeger-ui/src/components/TracePage/index.track.test.js
  packages/jaeger-ui/src/components/common/ExternalLinks.tsx
  packages/jaeger-ui/src/constants/index.ts
  packages/jaeger-ui/src/constants/tag-keys.ts
  packages/jaeger-ui/src/model/trace-viewer.ts
  packages/jaeger-ui/src/query/app-query-client.tsx
  packages/jaeger-ui/src/utils/color-generator.ts
  packages/jaeger-ui/src/utils/embedded-url.ts
  packages/jaeger-ui/src/utils/test/requestAnimationFrame.js
  packages/plexus/src/LayoutManager/dot/conv-coord.ts
  packages/plexus/src/cacheAs.ts
  packages/plexus/src/types/TOneOf.ts
  packages/plexus/src/zoom/MiniMap.tsx
Due: jaeger-ui, plexus

fix
  .oxlintrc.json
  packages/jaeger-ui/src/hooks/useConfig.test.tsx
Due: jaeger-ui

fix(lint): Pass children as arg, promote no-children-prop to error (#3747)
  .oxlintrc.json
  packages/jaeger-ui/src/hooks/useConfig.test.tsx
Due: jaeger-ui

chore(lint): Move oxlint config into vite.config.ts
  .oxlintrc.json
  vite.config.ts
Due: none

fix
  BUILD.md
  knip.config.ts
  vite.config.ts
Due: none

chore(lint): Move oxlint config into vite.config.ts (#3748)
  .oxlintrc.json
  BUILD.md
  knip.config.ts
  vite.config.ts
Due: none

Path conditions:
  jaeger-ui: any of: packages/jaeger-ui/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
  plexus: any of: packages/plexus/src/, but not: packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js
