Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

fix(Graph): handle React 18 Strict Mode double-invocation of effects
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.tsx
Due: jaeger-ui

fix: use empty deps array in useEffect to avoid stale closure
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.tsx
Due: jaeger-ui

fix(TracePage): add clarifying comments and fix TypeScript error
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

perf(TraceStatistics): optimize handlers and move constants to module level
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

fix(TracePage): use empty dependency array for mount effect
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix(TracePage): use empty deps for mount effect, document ref updates
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

fix(plexus): fix TypeScript error in SvgEdges memo type assertion
  packages/plexus/src/Digraph/SvgEdges.tsx
Due: plexus

fix: improve React.memo test specificity for Node
  packages/plexus/src/Digraph/Node.test.js
Due: plexus

test(Digraph): add tests for prop changes and state sync
  packages/plexus/src/Digraph/Digraph.test.js
Due: plexus

fix: complete setSizeVertices error handling test
  packages/plexus/src/Digraph/Digraph.test.js
Due: plexus

test: improve MeasurableNode test coverage to 100%
  packages/plexus/src/Digraph/MeasurableNode.test.js
Due: plexus

refactor: wrap MeasurableNode with React.memo for performance
  packages/plexus/src/Digraph/MeasurableNode.test.js
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

test: add React.memo verification test for Node component
  packages/plexus/src/Digraph/Node.test.js
Due: plexus

fix: improve React.memo test specificity for SvgEdge
  packages/plexus/src/Digraph/SvgEdge.test.js
Due: plexus

fix(test): use React.createElement in jest.mock factory to avoid _jsx scope error
  packages/plexus/src/Digraph/Nodes.test.js
Due: plexus

test(Nodes): add comprehensive tests for arePropsEqual comparison function
  packages/plexus/src/Digraph/Nodes.test.js
  packages/plexus/src/Digraph/Nodes.tsx
Due: plexus

refactor(plexus): convert MeasurableNodes to functional component
  packages/plexus/src/Digraph/MeasurableNodes.test.js
  packages/plexus/src/Digraph/MeasurableNodes.tsx
Due: plexus

fix(test): use React.createElement in jest.mock factory to avoid _jsx scope error
  packages/plexus/src/Digraph/MeasurableNodes.test.js
Due: plexus

test(MeasurableNodes): add comprehensive tests for arePropsEqual comparison function
  packages/plexus/src/Digraph/MeasurableNodes.test.js
  packages/plexus/src/Digraph/MeasurableNodes.tsx
Due: plexus

refactor: convert App/index.tsx file's class based to functional component (#3342)
  packages/jaeger-ui/src/components/App/index.test.js
  packages/jaeger-ui/src/components/App/index.tsx
Due: jaeger-ui

Add tests for HtmlLayersGroup component (#3355)
  packages/plexus/src/Digraph/HtmlLayersGroup.test.js
Due: plexus

repace hard-coded colors with semantic-CSS
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/DeepDependencies/Header/ChevronDown.css
  packages/jaeger-ui/src/components/DeepDependencies/Header/index.css
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.css
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.css
  packages/jaeger-ui/src/components/TracePage/ArchiveNotifier/index.css
  packages/plexus/package.json
  packages/plexus/src/Digraph/SvgEdge.tsx
  packages/plexus/src/Digraph/SvgEdgesLayer.tsx
Due: jaeger-ui, plexus

revert the json configuration changes
  packages/plexus/package.json
Due: none

remove cross-env build in jsons
  packages/jaeger-ui/package.json
Due: none

Add PR quota workflow (#3441)
  .github/workflows/pr-quota-manager.yml
Due: none

update exception handelling for better debug
  packages/jaeger-ui/package.json
Due: none

fix
  packages/jaeger-ui/src/api/v3/client.ts
Due: jaeger-ui

fix
  docs/adr/0002-otlp-api-v3-migration.md
Due: none

fix
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/hooks/useConfig.test.ts
  packages/jaeger-ui/src/hooks/useTraceDiscovery.test.ts
Due: jaeger-ui

Apply suggestion from @yurishkuro
  packages/jaeger-ui/src/api/v3/client.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/SearchTracePage/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
Due: jaeger-ui

Refactor SvgEdgesLayer to functional component
  packages/plexus/src/Digraph/SvgEdgesLayer.test.js
  packages/plexus/src/Digraph/SvgEdgesLayer.tsx
Due: plexus

fix
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

Update packages/jaeger-ui/src/components/DeepDependencies/Graph/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.tsx
Due: jaeger-ui

[otel migration] Phase 3.1: add JaegerClient v3 and use for services / operations (#3329)
  docs/adr/0002-otlp-api-v3-migration.md
  docs/adr/0005-current-state-management-architecture.md
  docs/adr/README.md
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.js
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.js
  packages/jaeger-ui/src/components/SearchTracePage/index.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/hooks/useConfig.test.ts
  packages/jaeger-ui/src/hooks/useConfig.ts
  packages/jaeger-ui/src/hooks/useTraceDiscovery.test.ts
  packages/jaeger-ui/src/hooks/useTraceDiscovery.ts
  packages/jaeger-ui/vite.config.mts
Due: jaeger-ui
