Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

fix: remove orphaned rolldown entry from lock file
  docs/adr/0007-vite-plus-migration.md
  package-lock.json
Due: none

[adr/007]: Replace ESLint with Oxlint (PR C1 phase 2) (#3684)
  .oxlintrc.json
  docs/adr/0007-vite-plus-migration.md
  eslint.config.js
  package-lock.json
  package.json
Due: none

fix(deps): update dependency lodash to v4.18.1 [security]
  package-lock.json
  packages/jaeger-ui/package.json
Due: none

[adr/007]: Replace Prettier with Oxfmt (PR C2)
  .oxfmtrc.json
  .prettierignore
  AGENTS.md
  BUILD.md
  CONTRIBUTING.md
  Makefile
  docs/adr/0007-vite-plus-migration.md
  package-lock.json
  package.json
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.test.js
  scripts/prepare-release.py
Due: jaeger-ui

fix
  docs/adr/0007-vite-plus-migration.md
  package.json
  scripts/prepare-release.py
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix
  package-lock.json
  package.json
Due: none

fix: pin rolldown bindings as optionalDependencies
  package-lock.json
  package.json
Due: none

[adr/007]: Replace Prettier with Oxfmt (PR C2) (#3686)
  .oxfmtrc.json
  .prettierignore
  AGENTS.md
  BUILD.md
  CONTRIBUTING.md
  Makefile
  docs/adr/0007-vite-plus-migration.md
  package-lock.json
  package.json
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.test.js
  scripts/prepare-release.py
Due: jaeger-ui

chore(deps): update dependency typescript to v6
  package-lock.json
  package.json
Due: none

Upgrade TypeScript to 6.0.2
  docs/adr/0007-vite-plus-migration.md
  package-lock.json
  package.json
  packages/plexus/tsconfig.json
  tsconfig.json
Due: none

fix
  docs/adr/0007-vite-plus-migration.md
Due: none

Upgrade TypeScript to 6.0.2 (#3688)
  docs/adr/0007-vite-plus-migration.md
  package-lock.json
  package.json
  packages/plexus/tsconfig.json
  tsconfig.json
Due: none

Consolidate jaeger-ui tsconfigs (ADR step E)
  docs/adr/0007-vite-plus-migration.md
  package.json
  packages/jaeger-ui/tsconfig.json
  packages/jaeger-ui/tsconfig.lint.json
  packages/plexus/package.json
Due: none

docs: link PR #3689 in ADR step E
  docs/adr/0007-vite-plus-migration.md
Due: none

Remove redundant files[] from tsconfig; fix stale ADR refs
  docs/adr/0007-vite-plus-migration.md
  packages/jaeger-ui/tsconfig.json
Due: none

[adr/007] Consolidate jaeger-ui tsconfigs (step E) (#3689)
  docs/adr/0007-vite-plus-migration.md
  package.json
  packages/jaeger-ui/tsconfig.json
  packages/jaeger-ui/tsconfig.lint.json
  packages/plexus/package.json
Due: none

Migrate packages/plexus tests from Jest to Vitest
  docs/adr/0007-vite-plus-migration.md
  package-lock.json
  packages/plexus/demo/src/index.test.tsx
  packages/plexus/package.json
  packages/plexus/src/Digraph/HtmlLayer.test.jsx
  packages/plexus/src/Digraph/HtmlLayersGroup.test.jsx
  packages/plexus/src/Digraph/NodesLayer.test.jsx
  packages/plexus/src/Digraph/SvgEdgesLayer.test.jsx
  packages/plexus/src/Digraph/SvgLayer.test.jsx
  packages/plexus/src/Digraph/SvgLayersGroup.test.jsx
  packages/plexus/test/babel-transform.js
  packages/plexus/test/generic-file-transform.js
  packages/plexus/test/jest-per-test-setup.js
  packages/plexus/test/vitest-setup.ts
  packages/plexus/tsconfig.json
  packages/plexus/vitest.config.ts
Due: plexus

fix
  docs/adr/0007-vite-plus-migration.md
  packages/plexus/package.json
Due: none

fix
  scripts/generateDepcheckrcPlexus.js
Due: none

[adr/007] Migrate packages/plexus tests from Jest to Vitest (#3690)
  docs/adr/0007-vite-plus-migration.md
  package-lock.json
  packages/plexus/demo/src/index.test.tsx
  packages/plexus/package.json
  packages/plexus/src/Digraph/HtmlLayer.test.jsx
  packages/plexus/src/Digraph/HtmlLayersGroup.test.jsx
  packages/plexus/src/Digraph/NodesLayer.test.jsx
  packages/plexus/src/Digraph/SvgEdgesLayer.test.jsx
  packages/plexus/src/Digraph/SvgLayer.test.jsx
  packages/plexus/src/Digraph/SvgLayersGroup.test.jsx
  packages/plexus/test/babel-transform.js
  packages/plexus/test/generic-file-transform.js
  packages/plexus/test/jest-per-test-setup.js
  packages/plexus/test/vitest-setup.ts
  packages/plexus/tsconfig.json
  packages/plexus/vitest.config.ts
  scripts/generateDepcheckrcPlexus.js
Due: plexus

Apply suggestion from @yurishkuro
  docs/adr/0007-vite-plus-migration.md
Due: none

chore(jaeger-ui): replace require() in test bodies with static imports
  docs/adr/0007-vite-plus-migration.md
  packages/jaeger-ui/src/components/DeepDependencies/index.test.jsx
  packages/jaeger-ui/src/components/Monitor/index.test.jsx
  packages/jaeger-ui/src/components/PlexusDemo/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
Due: jaeger-ui

chore(jaeger-ui): replace require() in test bodies with static imports (#3692)
  docs/adr/0007-vite-plus-migration.md
  packages/jaeger-ui/src/components/DeepDependencies/index.test.jsx
  packages/jaeger-ui/src/components/Monitor/index.test.jsx
  packages/jaeger-ui/src/components/PlexusDemo/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceLogsView/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
Due: jaeger-ui

refactor(plexus): convert Nodes to functional component
  packages/plexus/src/Digraph/HtmlLayer.test.jsx
  packages/plexus/src/Digraph/HtmlLayersGroup.test.jsx
  packages/plexus/src/Digraph/Nodes.test.jsx
  packages/plexus/src/Digraph/Nodes.tsx
  packages/plexus/src/Digraph/NodesLayer.test.jsx
  packages/plexus/src/Digraph/SvgEdgesLayer.test.jsx
  packages/plexus/src/Digraph/SvgLayer.test.jsx
Due: plexus

refactor(plexus): convert MeasurableNode to functional component
  packages/plexus/src/Digraph/MeasurableNode.test.jsx
  packages/plexus/src/Digraph/MeasurableNode.tsx
  packages/plexus/src/Digraph/MeasurableNodes.tsx
  packages/plexus/src/Digraph/MeasurableNodesLayer.tsx
Due: plexus

fix(plexus): remove trailing period from copyright, translate comments to English
  packages/plexus/src/Digraph/Nodes.test.jsx
  packages/plexus/src/Digraph/Nodes.tsx
Due: plexus

fix(plexus): remove trailing period from copyright, translate comments to English
  packages/plexus/src/Digraph/MeasurableNode.tsx
Due: plexus

refactor(TraceStatistics): convert class component to functional
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

fix(plexus): align import style with plexus convention, use type-only imports
  packages/plexus/src/Digraph/MeasurableNode.test.jsx
  packages/plexus/src/Digraph/MeasurableNode.tsx
  packages/plexus/src/Digraph/MeasurableNodes.tsx
  packages/plexus/src/Digraph/MeasurableNodesLayer.tsx
Due: plexus

fix(TraceStatistics): update test file copyright year to 2026
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.js
Due: jaeger-ui

fix(TraceStatistics): merge keyboard tests into existing test file
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
Due: jaeger-ui

fix(TraceStatistics): use lazy initializer for useState to avoid redundant calls
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

test: replace arrow ctor mocks with regular functions
  docs/adr/0007-vite-plus-migration.md
  packages/jaeger-ui/src/components/DeepDependencies/Graph/index.test.jsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/index.test.jsx
  packages/jaeger-ui/src/components/TraceDiff/TraceDiff.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/utils/readJsonFile.test.js
Due: jaeger-ui
