Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

chore(deps): update dependency vite-plus to v0.3.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v12
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v12 (#4451)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency vite-plus to v0.3.0 (#4446)
  package.json
  pnpm-lock.yaml
Due: none

feat(api/v3): Expose Zod schemas for OTLP trace/span types (#4438)
  knip.config.ts
  packages/jaeger-ui/src/api/v3/README.md
  packages/jaeger-ui/src/api/v3/schemas.test.ts
  packages/jaeger-ui/src/api/v3/schemas.ts
Due: jaeger-ui

chore(deps): update vite-plus and bundled vitest to v5
  package.json
  packages/jaeger-ui/package.json
  packages/plexus/package.json
  pnpm-lock.yaml
Due: none

test: Adapt to Vitest 5 mock clearing and Assertion arity
  packages/jaeger-ui/src/components/App/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/utils/tracking/getTrackFilter.test.js
  packages/jaeger-ui/typings/jest-dom.d.ts
Due: jaeger-ui

test(search): Drain React's scheduler before jsdom teardown
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/DownloadResults.test.jsx
Due: jaeger-ui

ci(codecov): Ignore JSON files
  .codecov.yml
Due: none

test(search): Drain nested scheduler work
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/DownloadResults.test.jsx
Due: jaeger-ui

test(search): Mock antd message instead of draining the scheduler
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/DownloadResults.test.jsx
Due: jaeger-ui

chore(deps): Update vitest to v5 (#4453)
  .codecov.yml
  package.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/App/index.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/DownloadResults.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/duck.test.js
  packages/jaeger-ui/src/utils/tracking/getTrackFilter.test.js
  packages/jaeger-ui/typings/jest-dom.d.ts
  packages/plexus/package.json
  pnpm-lock.yaml
Due: jaeger-ui

chore(model): Make deduplicateTags linear instead of O(n^2) in tag count (#4110)
  packages/jaeger-ui/src/model/transform-trace-data.test.js
  packages/jaeger-ui/src/model/transform-trace-data.ts
Due: jaeger-ui

refactor(plexus): migrate Digraph to functional component
  packages/plexus/src/Digraph/index.test.tsx
  packages/plexus/src/Digraph/index.tsx
  packages/plexus/src/zoom/ZoomManager.ts
Due: plexus

fix(ui): Clean up messy tool parameter styling
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
  packages/jaeger-ui/src/constants/span-attributes.ts
Due: jaeger-ui

Make Tools table consistent with other attribute tables
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

chore: eliminate as any cast on Redux Store in App Provider (#4333)
  packages/jaeger-ui/src/components/App/index.tsx
Due: jaeger-ui

fix(trace-viewer): Correct incomplete-trace tooltip
  packages/jaeger-ui/src/model/trace-viewer.test.ts
  packages/jaeger-ui/src/model/trace-viewer.ts
Due: jaeger-ui

Apply suggested changes
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

fix(api): surface backend errors returned with a 200 status
  packages/jaeger-ui/src/api/jaeger.test.js
  packages/jaeger-ui/src/api/jaeger.ts
Due: jaeger-ui

feat(genai): Add support for unnamed tools
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

refactor(trace): Combine span decoration matching into one registry (#4254)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/GenAISpanIcon.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/GenAISpanIcon.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDecorationIcon.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDecorationIcon.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDecorationIcon.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/span-icons.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/span-icons.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/spanDecorations.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/spanDecorations.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/spanPills.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/spanPills.tsx
Due: jaeger-ui

fix(trace-timeline): unify full-height span-details resizing
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineHeaderRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/index.tsx
Due: jaeger-ui

feat(genai): Collapse and expand a whole conversation
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.test.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/index.tsx
Due: jaeger-ui

chore: Regenerate lockfile after isomorphic-fetch removal
  pnpm-lock.yaml
Due: none

[chore]: Remove isomorphic-fetch — Node 24 has native fetch (#4334)
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/api/jaeger.test.js
  packages/jaeger-ui/src/api/jaeger.ts
  packages/jaeger-ui/src/components/DeepDependencies/index.test.jsx
  packages/jaeger-ui/typings/custom.d.ts
  pnpm-lock.yaml
Due: jaeger-ui

refactor(TracePage): Decouple graph search logic
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceGraph/TraceGraph.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/index.tsx
Due: jaeger-ui

docs(rfc): Address wire format review
  docs/rfc/0002-otel-native-jaeger-ui.md
Due: none

chore(lint): Remove react-x plugin
  BUILD.md
  knip.config.ts
  package.json
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/TraceStatisticsHeader.tsx
  packages/jaeger-ui/src/hooks/useTraceLoading.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: jaeger-ui

fix(model): Unify OtelSpanFacade's parent resolution with the render tree
  packages/jaeger-ui/src/model/OtelSpanFacade.test.ts
  packages/jaeger-ui/src/model/OtelSpanFacade.ts
  packages/jaeger-ui/src/model/OtelTraceFacade.test.ts
  packages/jaeger-ui/src/model/OtelTraceFacade.ts
  packages/jaeger-ui/src/model/transform-trace-data.ts
  packages/jaeger-ui/src/types/trace.ts
Due: jaeger-ui

feat(api/v3): validate v3 trace wire contract at boundary
  knip.config.ts
  packages/jaeger-ui/src/api/v3/client.trace-contract.test.ts
  packages/jaeger-ui/src/api/v3/client.ts
  packages/jaeger-ui/src/api/v3/schemas.trace-contract.test.ts
  packages/jaeger-ui/src/api/v3/schemas.ts
Due: jaeger-ui

fix(search): Hide initial backend errors on search form
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.test.jsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
Due: jaeger-ui

Change removed background color for diff styling
  packages/jaeger-ui/src/components/common/vars.css
Due: jaeger-ui

test(ddg): Fix view traces navigation assertion
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/index.test.jsx
Due: jaeger-ui

refactor(ui): Use design tokens in SpanDetail components
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/AccordionText.css
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/TextList.css
Due: jaeger-ui

refactor(ui): Apply design tokens to TracePage components (Graph, Stats, View)
  packages/jaeger-ui/src/components/TracePage/TraceGraph/OpNode.css
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.css
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/PopupSql.css
Due: jaeger-ui

refactor(ui): Modernize Monitor and DeepDependencies CSS with tokens
  packages/jaeger-ui/src/components/DeepDependencies/SidePanel/index.css
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.css
Due: jaeger-ui

refactor(ui): Replace hardcoded colors in DetailsCard with design tokens
  packages/jaeger-ui/src/components/common/DetailsCard/DetailTableDropdown.css
  packages/jaeger-ui/src/components/common/DetailsCard/index.css
Due: jaeger-ui

fix(ui): apply design tokens to SidePanel and table header
  packages/jaeger-ui/src/components/DeepDependencies/SidePanel/DetailsPanel.css
  packages/jaeger-ui/src/components/DeepDependencies/SidePanel/index.css
Due: jaeger-ui

Update PopupSql styles for background and text color
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/PopupSql.css
Due: jaeger-ui
