Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

add missing useEffect dependencies
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/TraceStatisticsHeader.tsx
Due: jaeger-ui

deduplicate getColumnValues calls
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/TraceStatisticsHeader.tsx
Due: jaeger-ui

fix(ViewingLayer): address code review feedback for migration
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.tsx
Due: jaeger-ui

fix(ViewingLayer): address code review feedback
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.tsx
Due: jaeger-ui

Address reviewer feedback: clean up obsolete colorToPercent and generateColor
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateColor.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateColor.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/types.ts
Due: jaeger-ui

Fix Trace Statistics dark mode visibility and selective expansion
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.css
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/types.ts
Due: jaeger-ui

Refactor Trace Statistics: Add relative bars and fix dark mode readability (#3322)
  package-lock.json
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/PopupSql.css
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/TraceStatisticsHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateColor.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateColor.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.css
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.ts
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/types.ts
  packages/jaeger-ui/src/components/common/RelativeBar.css
  packages/jaeger-ui/src/components/common/RelativeBar.tsx
Due: jaeger-ui

Refine Trace Statistics auto-expansion to exclude rows with only 'Without Tag' entries
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

Refactor TraceStatisticsHeader: streamline imports and adjust initialServiceName computation with useMemo
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/TraceStatisticsHeader.tsx
Due: jaeger-ui

Optimize Trace Statistics auto-expansion to only trigger on multiple sub-group values
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

Re-enable auto-expansion for all categorized sub-groups
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

Refactor search logic to correctly handle parent row transparency
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

chore: remove incidental yarn.lock from PR
  yarn.lock
Due: none

Prepare release v2.15.0
  CHANGELOG.md
  packages/jaeger-ui/package.json
Due: none

Fix duplicate changelog entry
  CHANGELOG.md
Due: none

Fix linter error
  packages/jaeger-ui/src/components/App/ThemeProvider.test.tsx
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/SidePanel/DetailsPanel.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/createBlob.test.ts
Due: jaeger-ui

fix
  packages/jaeger-ui/src/components/DeepDependencies/SidePanel/DetailsPanel.tsx
Due: jaeger-ui

Fix linter error (#3510)
  packages/jaeger-ui/src/components/App/ThemeProvider.test.tsx
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/SidePanel/DetailsPanel.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/createBlob.test.ts
Due: jaeger-ui

Fix text overlapping in TraceDiff header (#3401)
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.css
  packages/jaeger-ui/src/components/common/BreakableText.css
Due: jaeger-ui

Add environment checks to prepare-release target
  Makefile
Due: none

Prepare release v2.15.0 (#3511)
  CHANGELOG.md
  packages/jaeger-ui/package.json
Due: none

ui-buttons
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/index.css
Due: jaeger-ui

search button
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.css
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
Due: jaeger-ui

date-time responsiveness
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.css
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItem.tsx
Due: jaeger-ui

Update packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.css
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceHeader.css
Due: jaeger-ui

remove history from TraceIDSearchInput.test.js
  packages/jaeger-ui/src/components/App/TraceIDSearchInput.test.js
Due: jaeger-ui

feat: make default edge stroke configurable
  package-lock.json
  packages/plexus/src/Digraph/SvgEdgesLayer.tsx
Due: plexus

Added the test
  packages/plexus/src/Digraph/SvgEdgesLayer.test.js
Due: plexus

Refactored the ViewingLayer
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.tsx
Due: jaeger-ui

Changed some tests according to the refactored code
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.tsx
Due: jaeger-ui

#3494 ref: component gets location navigation from Redux state
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
Due: jaeger-ui

#3494 ref: component gets location from Redux state
  packages/jaeger-ui/src/components/App/Page.tsx
Due: jaeger-ui

fix: upgrade webpack-dev-server to resolve qs vulnerability
  package-lock.json
  package.json
  packages/plexus/package.json
Due: none

refactor(plexus): migrate SvgEdges to functional component (#3397)
  packages/plexus/src/Digraph/SvgEdges.tsx
Due: plexus

refactor(ui): convert VirtualizedTraceView to functional component (WIP)
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: jaeger-ui

chore(router): extract route config in preparation for v7 migration
  packages/jaeger-ui/src/components/App/index.tsx
Due: jaeger-ui

Fix: Operations loading failure in 2.15.0 due to strict Zod validation
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/api/v3/generated-client.ts
  packages/jaeger-ui/src/api/v3/schemas.test.ts
  scripts/postprocess-schemas.cjs
Due: jaeger-ui

fix: make spanKind optional in v3 operations schema
  packages/jaeger-ui/src/api/v3/client.test.ts
  packages/jaeger-ui/src/api/v3/generated-client.ts
Due: jaeger-ui

Fix React Router v7 migration review feedback
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/App/index.test.js
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/DeepDependencies/index.tsx
  packages/jaeger-ui/src/components/SearchTracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
  packages/jaeger-ui/src/components/TracePage/index.test.js
  packages/jaeger-ui/src/components/TracePage/index.tsx
  packages/jaeger-ui/src/index.tsx
  packages/jaeger-ui/src/types/index.ts
  packages/jaeger-ui/src/utils/update-ui-find.test.js
  packages/jaeger-ui/src/utils/update-ui-find.ts
Due: jaeger-ui
