Repository jaegertracing/jaeger-ui: changes, and which Codecov flags are due for each by the changed paths.
All: jaeger-ui, plexus

.codecov.yml:

# Copyright (c) The Jaeger Authors
# SPDX-License-Identifier: Apache-2.0

# Validate config via:
#   curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  notify:
    require_ci_to_pass: yes
    wait_for_ci: yes
  strict_yaml_branch: main  # only use the latest copy on the main branch

coverage:
  precision: 2
  round: down
  range: "95...100"
  status:
    project:
      default:
        target: auto  # Prevents Plexus from tanking the global status

        # RELATIVE PROTECTION: This is the maximum allowed drop *below* the base commit's coverage.
        # Setting this to 0% means the project coverage cannot drop at all,
        # protecting against a negative delta from the base.
        # Note: If the base coverage is 94%, setting target: 95% will still fail the PR.
        threshold: 0%

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      jaeger-ui:
        flags:
          - jaeger-ui
        target: 95%  # The "Absolute Floor" for main UI
        threshold: 0%

      plexus:
        flags:
          - plexus
        target: auto  # Allows Plexus to start at 0% and grow
        threshold: 0%

    patch:
      default:
        only_pulls: true

        # PR-LEVEL COVERAGE: Setting this to 'informational: true'
        # means the patch coverage is calculated and displayed, but does not block the PR.
        informational: true

        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

flags:
  jaeger-ui:
    paths:
      - "packages/jaeger-ui/src/"
    carryforward: true  # see the breakdown in the PR

  plexus:
    paths:
      - "packages/plexus/src/"
    carryforward: true

ignore:
  - "packages/jaeger-ui/src/utils/helpers/ReactShallowRenderer.js"

fix(model): Align parentage with the backend
  packages/jaeger-ui/src/model/OtelSpanFacade.test.ts
  packages/jaeger-ui/src/model/OtelSpanFacade.ts
  packages/jaeger-ui/src/model/OtelTraceFacade.ts
  packages/jaeger-ui/src/model/ddg/transformTracesToPaths.test.js
  packages/jaeger-ui/src/model/find-trace-page-header-parts.test.js
  packages/jaeger-ui/src/model/span.ts
  packages/jaeger-ui/src/model/trace-contract-spec.ts
  packages/jaeger-ui/src/model/trace-contract-suite.js
  packages/jaeger-ui/src/model/trace-contract.test.ts
  packages/jaeger-ui/src/model/trace-viewer.ts
  packages/jaeger-ui/src/model/transform-trace-data.test.ts
  packages/jaeger-ui/src/model/transform-trace-data.ts
  packages/jaeger-ui/src/types/trace.ts
Due: jaeger-ui

fix(model): Consume the selected parent reference
  packages/jaeger-ui/src/model/OtelSpanFacade.test.ts
  packages/jaeger-ui/src/model/span.ts
  packages/jaeger-ui/src/model/transform-trace-data.test.ts
Due: jaeger-ui

test(model): Verify parent reference consumption
  packages/jaeger-ui/src/model/trace-contract-suite.js
  packages/jaeger-ui/src/model/transform-trace-data.test.ts
Due: jaeger-ui

docs(model): Describe the trace materializer
  packages/jaeger-ui/src/model/trace-contract.test.ts
Due: jaeger-ui

test(model): Materialize legacy wire references
  packages/jaeger-ui/src/model/span.ts
  packages/jaeger-ui/src/model/trace-contract-spec.ts
  packages/jaeger-ui/src/model/trace-contract-suite.js
  packages/jaeger-ui/src/model/trace-contract.test.ts
  packages/jaeger-ui/src/types/trace.ts
Due: jaeger-ui

feat(release): Draft the GitHub release when the prepare PR merges
  .github/workflows/release-draft.yml
  Makefile
  RELEASE.md
Due: none

fix(model): Name traces from the earliest root
  packages/jaeger-ui/src/model/find-trace-page-header-parts.test.js
  packages/jaeger-ui/src/model/trace-viewer.ts
Due: jaeger-ui

refactor(model): Type the parent reference helper
  packages/jaeger-ui/src/model/span.ts
Due: jaeger-ui

refactor(model): Name non-parent references
  packages/jaeger-ui/src/model/OtelSpanFacade.ts
  packages/jaeger-ui/src/model/span.ts
  packages/jaeger-ui/src/model/transform-trace-data.ts
Due: jaeger-ui

fix(model): Align parentage with the backend (#4569)
  packages/jaeger-ui/src/model/OtelSpanFacade.test.ts
  packages/jaeger-ui/src/model/OtelSpanFacade.ts
  packages/jaeger-ui/src/model/OtelTraceFacade.ts
  packages/jaeger-ui/src/model/ddg/transformTracesToPaths.test.js
  packages/jaeger-ui/src/model/find-trace-page-header-parts.test.js
  packages/jaeger-ui/src/model/span.ts
  packages/jaeger-ui/src/model/trace-contract-spec.ts
  packages/jaeger-ui/src/model/trace-contract-suite.js
  packages/jaeger-ui/src/model/trace-viewer.ts
  packages/jaeger-ui/src/model/transform-trace-data.test.ts
  packages/jaeger-ui/src/model/transform-trace-data.ts
Due: jaeger-ui

refactor(model): Rename trace display helpers
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItem.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.test.jsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/model/trace-display-helpers.test.js
  packages/jaeger-ui/src/model/trace-display-helpers.ts
  packages/jaeger-ui/src/model/trace-viewer.test.ts
  packages/jaeger-ui/src/model/transform-trace-data.ts
Due: jaeger-ui

refactor(model): Rename trace display helpers (#4573)
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItem.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.test.jsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/model/trace-display-helpers.test.js
  packages/jaeger-ui/src/model/trace-display-helpers.ts
  packages/jaeger-ui/src/model/trace-viewer.test.ts
  packages/jaeger-ui/src/model/transform-trace-data.ts
Due: jaeger-ui

feat(release): Draft the GitHub release when the prepare PR merges (#4571)
  .github/workflows/release-draft.yml
  Makefile
  RELEASE.md
Due: none

fix(test): Use explicit OTLP parentage
  packages/jaeger-ui/src/model/trace-contract-otlp.test.ts
  packages/jaeger-ui/src/model/trace-contract-otlp.ts
  packages/jaeger-ui/src/model/trace-contract-spec.ts
Due: jaeger-ui

test(model): Materialize OTLP trace specs (#4527)
  packages/jaeger-ui/src/model/trace-contract-otlp.test.ts
  packages/jaeger-ui/src/model/trace-contract-otlp.ts
  packages/jaeger-ui/src/model/trace-contract-spec.ts
Due: jaeger-ui

fix(listview): Use layout effect for scroller
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ListView/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/ListView/index.tsx
Due: jaeger-ui

chore(deps): update dependency lint-staged to v17.6.0
  package.json
  pnpm-lock.yaml
Due: none

refactor(trace): Let processSpan schedule its children
  packages/jaeger-ui/src/model/transform-trace-data.ts
Due: jaeger-ui

fix(trace): Prevent call-stack overflow on deeply nested traces (#4554)
  packages/jaeger-ui/src/model/trace-contract-suite.js
  packages/jaeger-ui/src/model/transform-trace-data.ts
Due: jaeger-ui

Prepare release v2.22.0
  CHANGELOG.md
  packages/jaeger-ui/package.json
Due: none

Prepare release v2.22.0 (#4575)
  CHANGELOG.md
  packages/jaeger-ui/package.json
Due: none

refactor(TraceStatistics): Migrate to functional component
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

fix(TraceStatistics): Treat a null uiFindVertexKeys as absent
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

fix(TraceStatistics): Use explicit escape, not raw control byte
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/index.tsx
Due: jaeger-ui

refactor(model): Extract attribute helpers
  packages/jaeger-ui/src/model/trace-attributes.test.ts
  packages/jaeger-ui/src/model/trace-attributes.ts
  packages/jaeger-ui/src/model/transform-trace-data.ts
Due: jaeger-ui

fix(ui): support server-rendered base href to prevent preload scanner asset failures
  packages/jaeger-ui/index.html
  packages/jaeger-ui/index.test.ts
Due: none

refactor(model): Extract attribute helpers (#4576)
  packages/jaeger-ui/src/model/trace-attributes.test.ts
  packages/jaeger-ui/src/model/trace-attributes.ts
  packages/jaeger-ui/src/model/transform-trace-data.ts
Due: jaeger-ui

chore(deps): update pnpm to v12.8.2
  package.json
  pnpm-lock.yaml
Due: none

test(quality-metrics): Rename QualityMetrics card tests to .tsx
  packages/jaeger-ui/src/components/QualityMetrics/BannerText.test.tsx
  packages/jaeger-ui/src/components/QualityMetrics/CountCard.test.tsx
  packages/jaeger-ui/src/components/QualityMetrics/MetricCard.test.tsx
  packages/jaeger-ui/src/components/QualityMetrics/ScoreCard.test.tsx
Due: jaeger-ui

test(quality-metrics): Migrate QualityMetrics card tests to TypeScript
  packages/jaeger-ui/src/components/QualityMetrics/BannerText.test.tsx
  packages/jaeger-ui/src/components/QualityMetrics/CountCard.test.tsx
  packages/jaeger-ui/src/components/QualityMetrics/MetricCard.test.tsx
  packages/jaeger-ui/src/components/QualityMetrics/ScoreCard.test.tsx
Due: jaeger-ui

feat(jaeger-ui): add timeline span filters by status code, instrumentation scope, and span kind
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageSearchBar.tsx
  packages/jaeger-ui/src/utils/filter-spans.test.js
  packages/jaeger-ui/src/utils/filter-spans.ts
Due: jaeger-ui

fix(jaeger-ui): guard missing array fields and unmapped root spans in OtelTraceFacade
  packages/jaeger-ui/src/model/OtelTraceFacade.test.ts
  packages/jaeger-ui/src/model/OtelTraceFacade.ts
Due: jaeger-ui

feat(jaeger-ui): support OTel SemConv v1.26+ for GenAI spans
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/GenAITab/genAiData.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/spanDecorations.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/spanPills.test.ts
  packages/jaeger-ui/src/constants/span-attributes.ts
  packages/jaeger-ui/src/utils/genai/detect.test.ts
  packages/jaeger-ui/src/utils/genai/detect.ts
Due: jaeger-ui

perf(jaeger-ui): optimize critical path section merging and memoization
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/criticalPath.test.ts
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/criticalPath.ts
Due: jaeger-ui

feat(jaeger-ui): add keyboard navigation and ARIA accessibility to timeline spans
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanTreeOffset.tsx
Due: jaeger-ui

refactor(ui): Convert ViewingLayer to hooks
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.test.jsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/ViewingLayer.tsx
Due: jaeger-ui

refactor(plexus): Convert Nodes component
  packages/plexus/src/Digraph/Nodes.tsx
Due: plexus

chore(deps): update vite-plus and bundled vitest to v5.0.3
  package.json
  packages/jaeger-ui/package.json
  packages/plexus/package.json
  pnpm-lock.yaml
Due: none

feat: support displaying timestamps in a selectable time zone
  packages/jaeger-ui/src/components/App/TimeZoneProvider.tsx
  packages/jaeger-ui/src/components/App/TimeZoneSelect.css
  packages/jaeger-ui/src/components/App/TimeZoneSelect.test.tsx
  packages/jaeger-ui/src/components/App/TimeZoneSelect.tsx
  packages/jaeger-ui/src/components/App/TimeZoneStorage.test.ts
  packages/jaeger-ui/src/components/App/TimeZoneStorage.ts
  packages/jaeger-ui/src/components/App/TopNav.tsx
  packages/jaeger-ui/src/components/App/index.tsx
  packages/jaeger-ui/src/components/Monitor/ServicesView/serviceGraph.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchForm.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ResultItem.tsx
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/ScatterPlot.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/TracePageHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TraceSpanView/index.tsx
  packages/jaeger-ui/src/components/common/RelativeDate.tsx
  packages/jaeger-ui/src/types/config.ts
  packages/jaeger-ui/src/utils/date.test.js
  packages/jaeger-ui/src/utils/date.ts
Due: jaeger-ui

Fix/4386 flamegraph any types (#4509)
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.test.jsx
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.tsx
Due: jaeger-ui
